<div class="big5small5-block">
    <form id="fileupload" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="CAROUSELS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁大五小五設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">自家新聞搜尋</label>
                        <div class="container-search">
                            <div class="search">
                                <input type="text" id="autocomplete-ajax" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">匯入新聞搜尋</label>
                        <div class="container-search">
                            <div class="search">
                                <input type="text" id="autocomplete-ajax5" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x5" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <small>最多30則</small>
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <table class="table table-bordered auto-table">
                                    <tbody>
                                        <tr>
                                            <th style="width: 9px">#</th>
                                            <th style="width: 20%">自動</th>
                                            <th style="width: 40%">加入</th>
                                            <th style="width: 40%">
                                                可被選擇的新聞
                                                <span class="news-count">{{ predata.newsList.length }}</span>
                                            </th>
                                        </tr>
                                        {% for item in indexpage.carousels %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>
                                                    <a href="{{ item.completeUrl }}">
                                                        <span class="menu">{{ indexpage.carousels[loop.index0].MainMenu.name }}</span>
                                                        <span class="info">{{ item.formatStartedAt }}</span>
                                                        <span class="pv">{{ indexpage.carousels[loop.index0].pageviews }}</span><br>
                                                        <span class="title">{{ indexpage.carousels[loop.index0].title }}</span><br>

                                                    </a>
                                                </td>
                                                <td class="add-news" td-index="{{ loop.index0 }}">
                                                    {% if indexpage.addCarousels[loop.index0] %}
                                                        <li class="list-group-item" value="{{ indexpage.addCarousels[loop.index0]._id }}">
                                                            <span class="close">
                                                                <i class="fa fa-window-close"></i>
                                                            </span>
                                                            <a href="{{ indexpage.addCarousels[loop.index0].completeUrl }}" target="_blank">
                                                                <span class="menu">
                                                                    {{ indexpage.addCarousels[loop.index0].MainMenu.name }}
                                                                </span>
                                                                <span class="info">
                                                                    {{ indexpage.addCarousels[loop.index0].formatStartedAt }}
                                                                </span>
                                                                <span class="pv">
                                                                    {{ indexpage.addCarousels[loop.index0].pageviews }}
                                                                </span><br>
                                                                <span class="title">
                                                                    {{ indexpage.addCarousels[loop.index0].title }}
                                                                </span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </td>
                                                {% if loop.first %}
                                                    <td rowspan="10" class="news-reference" style="padding:0;">
                                                        <ul class="list-group">
                                                        {% for item in predata.newsList %}
                                                            <li class="list-group-item" id="news-list{{ item._id }}" item-url="{{ item.completeUrl }}" value="{{ item._id }}">
                                                                <span class="close">
                                                                    <i class="fa fa-window-close"></i>
                                                                </span>
                                                                <a href="{{ item.completeUrl }}" target="_blank">
                                                                    <span class="menu">
                                                                        {{ item.MainMenu.name }}
                                                                    </span>
                                                                    <span class="info">
                                                                        {{ item.formatStartedAt }}
                                                                    </span>
                                                                    <span class="pv">
                                                                        {{ item.pageviews }}
                                                                    </span><br>
                                                                    <span class="title" style="color:#1c94c4;">
                                                                        {{ item.title }}
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</div>

<style type="text/css">
    .add-news .close {
        opacity: 1;
    }
    .news-reference .close {
        opacity: 0;
    }
    .news-reference ul > li:hover {
        cursor: move;
        border: 1px solid #fbcb09;
        background: #fdf5ce;
        font-weight: bold;
        color: #c77405;
    }
    .news-reference ul > li {
        background: #f6f6f6;
    }
    .add-news li.sortable-placeholder {
        background-color: #fed22f;
        height: 50px;
        display: block;
    }
    .add-news > li{
        background: #ffe45c;
    }
    .news-reference ul > li , .add-news > li {
        padding-top: 5px;
        padding-bottom: 0;
    }
    .add-news > li:first-child {
        display: block;
    }
    .add-news > li{
        width: 100% !important;
        height: auto !important;
        max-width: 450px;
        display: none;
    }
    .news-reference .list-group {
        height: 680px;
        overflow: scroll;
    }
    .auto-table .menu {
        color: #343232;
        border: 1px solid #000;
        padding: 0 2px;
        font-weight: bold;
    }
    .auto-table .info {
        border: 2px solid #8686cd;
        background: #b0b0cf;
        color: #020202;
        padding: 0 3px;
        margin-right: 3px;
        font-weight: bold;
    }
    .auto-table .pv {
        border: 2px solid #3c3cb2;
        background: #7373c9;
        color: #fff;
        padding: 0 3px;
        margin-left: 5px;
    }
    .auto-table .title {
        color: #343232;
        font-size: 14px;
        font-weight: bold;
    }
    .auto-table > tbody > tr > th {
        height: 21px;
        padding: 2px 5px;
        border: 1px solid #e78f08;
        background: #f6a828;
        color: #fff;
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    $(function(){
        $(".add-news").on('click', '.close', function(){
            $(this).parent().remove();
        });
        $(".add-news").sortable({
            connectWith: "div",
            placeholder: "sortable-placeholder",
            forcePlaceholderSize: true,
            activate: function( event, ui ) {console.log('activate')},
            beforeStop: function( event, ui ) {console.log('beforeStop')},
            change: function( event, ui ) {console.log('change')},
            create: function( event, ui ) {console.log('create')},
            deactivate: function( event, ui ) {console.log('deactivate')},
            out: function( event, ui ) {console.log('out')},
            over: function( event, ui ) {console.log('over')},
            receive: function( event, ui ) {console.log('receive')},
            remove: function( event, ui ) {console.log('remove')},
            sort: function( event, ui ) {console.log('sort')},
            start: function( event, ui ) {console.log('start')},
            stop: function( event, ui ) {
                console.log('stop')
            },
            update: function( event, ui ) {console.log('update')},
        });

        $("[id^='news-list']").draggable({
            helper: "clone",
            addClass: 'abc',
            connectToSortable: ".add-news"
        });
        // var autoCompleteOptions = {
        //     serviceUrl: '/indexpage/news',
        //     dataType: 'json',
        //     deferRequestBy: 600,
        //     paramName: "title",
        //     params: { status: 'RELEASE', isFeed : 'false' },
        //     preserveInput: true,
        //     showNoSuggestionNotice: true,
        //     noSuggestionNotice: '查無結果',
        //     onSearchStart: function() {
        //         $('#load').addClass('loader');
        //         console.log('onSearchStart')
        //     },
        //     onSearchComplete: function() {
        //         $('#load').removeClass('loader');
        //         $('div.autocomplete-suggestions').append(
        //             '<div class="close-circle"><svg width="19" height="19" viewBox="-1 -1 50 50" data-icon="close" style="stroke-width: 2; fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); vertical-align: bottom;"><path d="M37.98 34.827l-9.9-9.9 9.9-9.898c.78-.782.78-2.05 0-2.83-.78-.78-2.047-.78-2.828 0l-9.9 9.9-9.898-9.9c-.78-.78-2.048-.78-2.828 0-.78.78-.78 2.047 0 2.828l9.9 9.9-9.9 9.898c-.78.78-.78 2.047 0 2.828.78.78 2.047.78 2.828 0l9.9-9.9 9.898 9.9c.78.78 2.048.78 2.828 0 .782-.78.782-2.047 0-2.827z"></path></svg></div>'
        //         );
        //         $('div.autocomplete-suggestions').on('click', 'div.close-circle', function() {
        //             $('#autocomplete-ajax').autocomplete().dispose();
        //             $('#autocomplete-ajax').autocomplete(autoCompleteOptions);
        //             $(this).remove();
        //         });
        //         console.log('onSearchComplete');
        //     },
        //     onSearchError: function() {
        //         $('#load').removeClass('loader');
        //         console.log('onSearchError')
        //     },
        //     transformResult: function(response, originalQuery) {
        //         var suggestions = $.map(response.newsList, function(item) {
        //             return {
        //                 value: item.formatStartedAt + '   ' + item.title,
        //                 data: item._id
        //             };
        //         });
        //         window.suggestions = suggestions;
        //         return {
        //             suggestions: suggestions
        //         };
        //     },
        //     onSelect: function(suggestion) {
        //         //取消原autocomplete點擊事件
        //         $('div.autocomplete-suggestions').unbind('click');
        //         $('div.autocomplete-suggestions').on('click', 'div.close-circle', function() {
        //             $('#autocomplete-ajax').autocomplete().dispose();
        //             $('#autocomplete-ajax').autocomplete(autoCompleteOptions);
        //             $(this).remove();
        //         });
        //         //將第一次點擊的項目變色
        //         var suggestions = window.suggestions;
        //         var selectedItemIndex;
        //         for (var i = 0; i < suggestions.length; i++) {
        //             if (suggestion.data === suggestions[i].data) {
        //                 selectedItemIndex = i;
        //             }
        //         }
        //         $('div.autocomplete-suggestion[data-index=' + selectedItemIndex + ']').css('background-color', 'gray');

        //         //點擊後 suggestions list 保持原位置 不隱藏
        //         $('div.autocomplete-suggestions').css('display', 'block');
        //         var inputHeight = $('input#autocomplete-ajax').outerHeight()
        //         var closeTip = '<div id="close-tip" style="position: absolute;font-size: 1.5em;height:'+inputHeight+'px;width:100%;z-index:99;"></div>';
        //         $('#autocomplete-ajax').after(closeTip);
        //         $('div.search').on('click','div#close-tip',function(){
        //             $('#autocomplete-ajax').autocomplete().dispose();
        //             $('#autocomplete-ajax').autocomplete(autoCompleteOptions);
        //             $(this).remove();
        //             $('#autocomplete-ajax').focus();
        //         });

        //         //onSelect只監聽第一次點擊 這裡加上之後的suggestion click監聽
        //         $('div.autocomplete-suggestions div.autocomplete-suggestion').on('click', function() {
        //             $(this).css('background-color', 'gray');
        //             var index = $(this).data('index');
        //             var suggestion = suggestions[index];
        //             var newsId = suggestion.data;
        //             if ($("#multiselect_simple option[value='" + newsId + "']").length === 0) {
        //                 $('#multiselect_simple').prepend('<option value="' + newsId + '">' + suggestion.value + '</option>');
        //                 $('#multiselect_simple').multiselect('refresh').multiselect({});
        //             } else {
        //                 sweetAlert({
        //                     title: '<small>已經加入過了</small>!',
        //                     text: '<span>' + $('#autocomplete-ajax').val() + '<span>',
        //                     html: true
        //                 });
        //             }
        //         });

        //         var text = suggestion.data;
        //         if ($("#multiselect_simple option[value='" + text + "']").length === 0) {
        //             $('#multiselect_simple').append('<option value="' + suggestion.data + '">' + suggestion.value + '</option>');

        //         } else {
        //             sweetAlert({
        //                 title: '<small>已經加入過了</small>!',
        //                 text: '<span>' + $('#autocomplete-ajax').val() + '<span>',
        //                 html: true
        //             });
        //         }
        //         $('#multiselect_simple').multiselect('refresh');

        //     },
        //     onHint: function(hint) {
        //         $('#autocomplete-ajax-x').val(hint);
        //     },
        //     onInvalidateSelection: function() {
        //         $('#selection-ajax').html('None selected');
        //     }
        // };


        // // Initialize ajax autocomplete:
        // $('#autocomplete-ajax').autocomplete(autoCompleteOptions);

// --------------------

        var autoCompleteOptions1 = {
            serviceUrl: '/indexpage/news',
            dataType: 'json',
            deferRequestBy: 600,
            paramName: "title",
            params: { status: 'RELEASE', isFeed : 'false' },
            onSearchStart: function(){ $(this).siblings('.load').addClass('loader'); console.log('onSearchStart') },
            onSearchComplete: function(){ $(this).siblings('.load').removeClass('loader');console.log('onSearchComplete') },
            onSearchError: function(){ $(this).siblings('.load').removeClass('loader');console.log('onSearchError') },
            transformResult: function(response) {

                return {
                    suggestions: $.map(response.newsList, function(item) {
                        var startTime = item.formatStartedAt;
                        var title = item.title;
                        var url = '/news/' + item._id;
                        var pv = item.pageviews;
                        return { title: title, value: startTime + ' - ' + title, data: item._id, url: url, date: startTime, pv: pv};
                    })
                };
            },
            onSelect: function (suggestion) {
                text = suggestion.data;
                if ($("#multiselect_simple option[value='"+text+"']").length === 0) {
                    $('#multiselect_simple').prepend('<option item-pv="'+ suggestion.pv +'" item-date="'+ suggestion.date +'" item-url="' + suggestion.url + '" value="'+suggestion.data+'">'+ suggestion.title +'</option>');

                } else {
                    sweetAlert({
                        title: '<small>已經加入過了</small>!',
                        text: '<span>'+ $('#autocomplete-ajax').val() +'<span>',
                        html: true
                    });

                }
                $('#multiselect_simple').multiselect('destroy').multiselect(customOption);
                $('#autocomplete-ajax').val("");
            },
            onHint: function (hint) {
                $('#autocomplete-ajax-x').val(hint);
            },
            onInvalidateSelection: function() {
                $('.selection-ajax').html('None selected');
            }
        };
        $('#autocomplete-ajax').autocomplete(autoCompleteOptions1);

        $('#autocomplete-ajax5').autocomplete({
            serviceUrl: '/indexpage/news',
            dataType: 'json',
            deferRequestBy: 600,
            paramName: "title",
            params: { status: 'RELEASE', isFeed : 'true', select:'title sn startedAt feedFrom' },
            onSearchStart: function(){ $(this).siblings('.load').addClass('loader'); console.log('onSearchStart') },
            onSearchComplete: function(){ $(this).siblings('.load').removeClass('loader');console.log('onSearchComplete') },
            onSearchError: function(){ $(this).siblings('.load').removeClass('loader');console.log('onSearchError') },
            transformResult: function(response) {

                return {
                    suggestions: $.map(response.newsList, function(item) {
                        var startTime = item.formatStartedAt;
                        var title = item.title;
                        var url = '/news/' + item._id;
                        var pv = item.pageviews;
                        var feedFrom = item.feedFrom;
                        return { title: title, value: startTime + ' - ' + title, data: item._id, url: url, date: startTime, pv: pv , feedFrom: feedFrom };
                    })
                };
            },
            onSelect: function (suggestion) {
                text = suggestion.data;
                if ($("#multiselect_simple option[value='"+text+"']").length === 0) {
                    $('#multiselect_simple').prepend('<option item-feedFrom="'+ suggestion.feedFrom +'" item-pv="'+ suggestion.pv +'" item-date="'+ suggestion.date +'" item-url="' + suggestion.url + '" value="'+suggestion.data+'" selected>'+ suggestion.title +'</option>');

                } else {
                    sweetAlert({
                        title: '<small>已經加入過了</small>!',
                        text: '<span>'+ $('#autocomplete-ajax5').val() +'<span>',
                        html: true
                    });
                }
                $('#multiselect_simple').multiselect('destroy').multiselect(customOption);
                $('#autocomplete-ajax5').val("");

            },
            onHint: function (hint) {
                $('#autocomplete-ajax-x5').val(hint);
            },
            onInvalidateSelection: function() {
                $('.selection-ajax').html('None selected');
            }
        });

        //新聞
        $('#fileupload').on('submit',function(e){
            e.preventDefault();
            var carouselsData = {
                type: 'ADD_CAROUSELS',
                addCarousels: [],
                hideCarousels: []
            };

            $('.add-news').each(function(index, ele){
                carouselsData.addCarousels[index] = $(ele).find('li').attr('value');
                return true;
            });

            $.ajax({
                url: '/indexpage/create',
                type: 'PUT',
                data: carouselsData
            }).done(function(data) {
                window.location.reload()
            });
        });
    });
</script>