{% set title = "新增首頁" %}
{% extends "../base.html" %}
{% from "../util/form-user-record.html" import formUserRecord %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}

{% block container %}
<section class="content">
    <!--  大五小五設定 -->
    <form id="fileupload" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="CAROUSELS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁大五小五設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">新聞搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax" class="input form-control" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">

                                <select id="multiselect_simple" name="carousels" class="multiselect fa-select" multiple="multiple" style="width:100%">
                                    {% for item in indexpage.carousels %}
                                        <option value="{{ item._id }}" selected="selected">{{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in predata.newsList %}
                                        <option value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple">Toggle original element</button>
                                <input type="text" id="txtSearch_simple" size="15" />
                                <button id="btnSearch_simple">Search</button>
                                <button id="btnSearch_simple">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 專題設定 -->
    <form id="fileupload2" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="SPECIALTOPICS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁專題設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">專題搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax2" class="input form-control" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x2" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple2" name="specialTopics" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in specialTopics %}
                                        <option value="{{ item._id }}" selected="selected">{{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in pretopic.specialTopics %}
                                        <option value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple2">Toggle original element</button>
                                <input type="text" id="txtSearch_simple2" size="15" />
                                <button id="btnSearch_simple2">Search</button>
                                <button id="btnSearch_simple2">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple2" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 特輯設定 -->
    <form id="fileupload3" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="SPECIALCHANNELS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁特輯設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">特輯搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax3" class="input form-control" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x3" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple3" name="specialChannels" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in specialChannels %}
                                        <option value="{{ item._id }}" selected="selected">{{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in prespecialchannel.specialChannels %}
                                        <option value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple3">Toggle original element</button>
                                <input type="text" id="txtSearch_simple3" size="15" />
                                <button id="btnSearch_simple3">Search</button>
                                <button id="btnSearch_simple3">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple3" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 影片設定 -->
    <form id="fileupload4" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="VIDEOS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁影片設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">影片搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax4" class="input form-control" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x4" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple4" name="videos" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in videos %}
                                        <option value="{{ item._id }}" selected="selected">{{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in prevideo.newsList %}
                                        <option value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple4">Toggle original element</button>
                                <input type="text" id="txtSearch_simple4" size="15" />
                                <button id="btnSearch_simple4">Search</button>
                                <button id="btnSearch_simple4">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple4" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</section>

<style>
.search {
  position: relative;
  height: 80px;
}
#autocomplete-ajax, #autocomplete-ajax2, #autocomplete-ajax3, #autocomplete-ajax4 {
  border: 1px solid #CCC;
  display: block;
  position: absolute;
  background: transparent;
  z-index: 2;
  background: url('https://icon.now.sh/search/32') no-repeat center right 5px;
  background-size: 15px;
}

#autocomplete-ajax-x, #autocomplete-ajax-x2, #autocomplete-ajax-x3, #autocomplete-ajax-x4  {
  color: #CCC;
  z-index: 1;
  display: none;
}
.selection-ajax {
  position: relative;

}

.load {
  display: inline-block;
  position: relative;
  left: 270px;
  top: -18px;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #7be4ff;
  background: -moz-linear-gradient(left, #7be4ff 10%, rgba(123,228,255, 0) 42%);
  background: -webkit-linear-gradient(left, #7be4ff 10%, rgba(123,228,255, 0) 42%);
  background: -o-linear-gradient(left, #7be4ff 10%, rgba(123,228,255, 0) 42%);
  background: -ms-linear-gradient(left, #7be4ff 10%, rgba(123,228,255, 0) 42%);
  background: linear-gradient(to right, #7be4ff 10%, rgba(123,228,255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #7be4ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-no-suggestion {
  padding: 2px 5px;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

.multiselect {
    width: 450px;
    height: 100%!important;
}
div.debug_uiControls {
    margin-top: 16px;
}
div.debug_log {
    height: 100px;
    overflow: auto;
    border: 1px solid black;
    padding: 8px;
    margin-top: 16px;
    display: none;
}
.example-container {
    overflow:visible;
    width:100%;
}


.uix-multiselect {
    display: block!important;
    height:260px;
}

/** font awesome use unicode**/
.option-element > div:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    padding: 3px;
    content: "\f067";
}

.option-element.option-selected > div:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    padding: 3px;
    content: "\f068";

}

.option-element > div:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-right:5px;
    padding:3px;
    content: "\f047";
}

.option-element.option-selected > div:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-right: 5px;
    padding:3px;
    content: "\f047";

}

</style>
{#  script 暫時放這   #}


<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>
<!-- AUTOCOMPLETE -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link type="text/css" href="http://mind2soft.com/labs/jquery/multiselect/css/jquery.uix.multiselect.css" rel="stylesheet" />
<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.uix.multiselect.js"></script>
<script type="text/javascript" src="http://mind2soft.com/labs/jquery/multiselect/js/jquery.themeswitcher.min.js"></script>
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


<script>
// Initialize ajax autocomplete:
$('#autocomplete-ajax').autocomplete({
    serviceUrl: '/indexpage/news',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError') },
    transformResult: function(response) {

        return {
            suggestions: $.map(response.newsList, function(item) {
                return { value: item.title, data: item._id};
            })
        };
    },
    onSelect: function (suggestion) {
        text = suggestion.data;
        if ($("#multiselect_simple option[value='"+text+"']").length === 0) {
            $('#multiselect_simple').append('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax').val() +'<span>',
                html: true
            });
            $('#autocomplete-ajax2').val("");
        }

        $('#multiselect_simple').multiselect('destroy');
        $('#multiselect_simple').multiselect();

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax2').autocomplete({
    serviceUrl: '/indexpage/specialtopics',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart2') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete2')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError2') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.specialTopics, function(item) {
                return { value: item.title, data: item._id};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple2 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple2').append('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax2').val() +'<span>',
                html: true
            });
            $('#autocomplete-ajax2').val("");
        }
        $('#multiselect_simple2').multiselect('destroy');
        $('#multiselect_simple2').multiselect();

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x2').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax3').autocomplete({
    serviceUrl: '/indexpage/specialchannels',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart3') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete3')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError3') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.specialChannels, function(item) {
                return { value: item.title, data: item._id};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple3 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple3').append('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax3').val() +'<span>',
                html: true
            });
            $('#autocomplete-ajax3').val("");
        }
        $('#multiselect_simple3').multiselect('destroy');
        $('#multiselect_simple3').multiselect();

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x3').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax4').autocomplete({
    serviceUrl: '/indexpage/news',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart4') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete4')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError4') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.newsList, function(item) {
                return { value: item.title, data: item._id};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple4 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple4').append('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax4').val() +'<span>',
                html: true
            });
            $('#autocomplete-ajax4').val("");
        }
        $('#multiselect_simple4').multiselect('destroy');
        $('#multiselect_simple4').multiselect();

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x4').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$("#autocomplete-ajax").autocomplete('setOptions', {
        params: {status: 'RELEASE',type: 'NEWS'}
});

$("#autocomplete-ajax4").autocomplete('setOptions', {
        params: {status: 'RELEASE',type: 'VIDEO'}
});


</script>

<script type="text/javascript">
    $(function() {
        var defaultOptions = {
            //availableListPosition: 'bottom',
            moveEffect: 'blind',
            moveEffectOptions: {direction:'vertical'},
            moveEffectSpeed: 'fast'
        };

        var widgets = {
            'simple': $.extend($.extend({}, defaultOptions), {
                sortMethod: 'standard',
                sortable: true
            }),
            'simple2': $.extend($.extend({}, defaultOptions), {
                sortMethod: 'standard',
                sortable: true
            }),
            'simple3': $.extend($.extend({}, defaultOptions), {
                sortMethod: 'standard',
                sortable: true
            }),
            'simple4': $.extend($.extend({}, defaultOptions), {
                sortMethod: 'standard',
                sortable: true
            })
        };

        $.each(widgets, function(k, i) {
            console.log(k);
            $('#multiselect_'+k).multiselect(i).on('multiselectChange', function(evt, ui) {
                var values = $.map(ui.optionElements, function(opt) { return $(opt).attr('value'); }).join(', ');
                $('#debug_'+k).prepend( $('<div></div>').text('Multiselect change event! ' + (ui.optionElements.length == $('#multiselect_'+k).find('option').size() ? 'all ' : '') + (ui.optionElements.length + ' value' + (ui.optionElements.length > 1 ? 's were' : ' was')) + ' ' + (ui.selected ? 'selected' : 'deselected') + ' (' + values + ')') );
            }).on('multiselectSearch', function(evt, ui) {
                $('#debug_'+k).prepend( $('<div></div>').text('Multiselect beforesearch event! searching for "' + ui.term + '"') );
            }).parents('.usage_simple').find('.btnGet_value').click(function(evt) {
                evt.preventDefault(); evt.stopPropagation();
                $('#debug_'+k).prepend( $('<div></div>').text("Submit query = " + $('form').serialize() ) );

                return false;
            });

            $('#btnToggleOriginal_'+k).click(function() {
                var _m = $('#multiselect_'+k);
                if (_m.is(':visible')) {
                    _m.next().toggle().end().toggleClass('uix-multiselect-original').multiselect('refresh');
                } else {
                    _m.toggleClass('uix-multiselect-original').next().toggle();
                }
                return false;
            });
            $('#btnSearch_'+k).click(function() {
                $('#multiselect_'+k).multiselect('search', $('#txtSearch_'+k).val());
            });
            $('#multiselect_'+k+ ' option').each(function(){
                text = $(this).val();
                if ($("#multiselect_"+k+ " option[value='"+text+"']").length >1){
                    $("#multiselect_"+k+ " option[value='"+text+"']:gt(0)").remove();
                }
            });
        });
    });
</script>
{% endblock %}
