{% set title = "新增首頁" %}
{% extends "../base.html" %}
{% from "../util/form-user-record.html" import formUserRecord %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}

{% block container %}
<section class="content">
    <!--  大五小五設定 -->
    <form id="fileupload" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="CAROUSELS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁大五小五設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">自家新聞搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">匯入新聞搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax5" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x5" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <small>最多30則</small>
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">

                                <select id="multiselect_simple" name="carousels" class="multiselect fa-select" multiple="multiple" style="width:100%">
                                    {% for item in indexpage.carousels %}
                                        <option value="{{ item._id }}" item-feedFrom="{{ item.feedFrom}}" item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" selected>TOP {{ loop.index }} - {{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in predata.newsList %}
                                        <option item-feedFrom="OWN" item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple">Toggle original element</button>
                                <input type="text" id="txtSearch_simple" size="15" />
                                <button id="btnSearch_simple">Search</button>
                                <button id="btnSearch_simple">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 專題設定 -->
    <form id="fileupload2" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="SPECIALTOPICS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁專題設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">專題搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax2" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x2" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <small>最多8則</small>
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple2" name="specialTopics" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in indexpage.specialTopics %}
                                        <option value="{{ item._id }}" item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" selected>TOP {{ loop.index }} - {{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in pretopic.specialTopics %}
                                        <option item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple2">Toggle original element</button>
                                <input type="text" id="txtSearch_simple2" size="15" />
                                <button id="btnSearch_simple2">Search</button>
                                <button id="btnSearch_simple2">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple2" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 特輯設定 -->
    <form id="fileupload3" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="SPECIALCHANNELS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁特輯設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">特輯搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax3" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x3" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <small>最多8則</small>
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple3" name="specialChannels" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in indexpage.specialChannels %}
                                        <option item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" value="{{ item._id }}" item-url="{{ item.completeUrl }}" selected>TOP {{ loop.index }} - {{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in prespecialchannel.specialChannels %}
                                        <option item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple3">Toggle original element</button>
                                <input type="text" id="txtSearch_simple3" size="15" />
                                <button id="btnSearch_simple3">Search</button>
                                <button id="btnSearch_simple3">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple3" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
    <!-- 影片設定 -->
    <form id="fileupload4" action="/indexpage/create" method="POST" >
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="type" value="VIDEOS">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">首頁影片設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="control-label">影片搜尋</label>
                        <div class="container-search">
                              <div class="search">
                                <input type="text" id="autocomplete-ajax4" class="input form-control input-autocomplete-ajax" placeholder="search" />
                                <input type="text" id="autocomplete-ajax-x4" class="input-autocomplete-ajax-x" disabled="disabled" />
                                <span class="load"></span>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <small>最多20則</small>
                        <div class="usage_simple" style="position:relative;">
                            <div class="example-container ui-helper-clearfix">
                                <select id="multiselect_simple4" name="videos" class="multiselect" multiple="multiple" style="width:100%">
                                    {% for item in indexpage.videos %}
                                        <option item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" value="{{ item._id }}" item-url="{{ item.completeUrl }}" selected>TOP {{ loop.index }} - {{ item.title }}</option>
                                    {% endfor %}
                                    {% for item in prevideo.newsList %}
                                        <option item-date="{{ item.formatStartedAt }}" item-pv="{{ item.pageviews }}" item-url="{{ item.completeUrl }}" value="{{ item._id }}">{{ item.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- debug留用參考 -->
                            <!-- <div class="debug_uiControls">
                                <button id="btnToggleOriginal_simple4">Toggle original element</button>
                                <input type="text" id="txtSearch_simple4" size="15" />
                                <button id="btnSearch_simple4">Search</button>
                                <button id="btnSearch_simple4">Search</button>
                                <input type="button" class="btnGet_value" value="Submit" />
                            </div> -->

                            <div id="debug_simple4" class="debug_log"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="#" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</section>

{#  script 暫時放這   #}

<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.autocomplete.min.js"></script>
<script src="/static/js/jquery.uix.multiselect.js"></script>
<script src="/static/js/jquery.themeswitcher.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery.uix.multiselect.css">
<link rel="stylesheet" href="/static/css/page/indexpage.css">
<link rel="stylesheet" href="/static/css/sweetalert.min.css">

<script>
// Initialize ajax autocomplete:
var defaultOptions = {
    //availableListPosition: 'bottom',
    moveEffect: 'highlight',
    moveEffectOptions: {direction:'vertical'},
    moveEffectSpeed: 'fast'
};
var customOption = $.extend($.extend({}, defaultOptions), {
    sortMethod: null,
    sortable: true,
    splitRatio: 0.50,
    optionRenderer: function(option){
        var newsUrl = option.attr('item-url');
        var date = option.attr('item-date') ? option.attr('item-date').replace(/-/g, '') : '-';
        var pv = option.attr('item-pv') || '-';
        var feedFrom = option.attr('item-feedFrom') ? option.attr('item-feedFrom') : '';
        switch(feedFrom){
            case 'MNA':
                feedFrom = '軍聞社';
                break;
            case 'CNA':
                feedFrom = '中央社';
                break;
            case 'CNYES':
                feedFrom = '鉅亨網';
                break;
            default:
                feedFrom = '';
        }
        var feedFromHtml = feedFrom ? '<span class="feed-news">'+feedFrom+'</span>' : '';
        var linkHtml = '<a class="link" target="_blank" href="'+ newsUrl +'">編輯</a>';
        var optionHtml = '<div><span class="date">' + date + '</span>' + option.html() + '<span class="pv">' + pv + '</span></div>';
        return feedFromHtml + linkHtml + optionHtml;
    }
});

$('#autocomplete-ajax').autocomplete({
    serviceUrl: '/indexpage/news',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    params: { status: 'RELEASE', isFeed : 'true' },
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete') },
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError') },
    transformResult: function(response) {

        return {
            suggestions: $.map(response.newsList, function(item) {
                var startTime = item.formatStartedAt;
                var title = item.title;
                var url = '/news/' + item._id;
                var pv = item.pageviews;
                return { title: title, value: startTime + ' - ' + title, data: item._id, url: url, date: startTime, pv: pv};
            })
        };
    },
    onSelect: function (suggestion) {
        text = suggestion.data;
        if ($("#multiselect_simple option[value='"+text+"']").length === 0) {
            $('#multiselect_simple').prepend('<option item-pv="'+ suggestion.pv +'" item-date="'+ suggestion.date +'" item-url="' + suggestion.url + '" value="'+suggestion.data+'">'+ suggestion.title +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax').val() +'<span>',
                html: true
            });

        }
        $('#multiselect_simple').multiselect('destroy').multiselect(customOption);
        $('#autocomplete-ajax').val("");
      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax2').autocomplete({
    serviceUrl: '/indexpage/specialtopics',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart2') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete2')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError2') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.specialTopics, function(item) {
                var startTime = item.formatStartedAt;
                var title = item.title;
                var url = '/news/' + item._id;
                var pv = item.pageviews;
                return { value: title, data: item._id, url: url, date: startTime, pv: pv};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple2 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple2').prepend('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax2').val() +'<span>',
                html: true
            });

        }
        $('#multiselect_simple2').multiselect('destroy').multiselect(customOption);
        $('#autocomplete-ajax2').val("");
      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x2').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax3').autocomplete({
    serviceUrl: '/indexpage/specialchannels',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart3') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete3')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError3') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.specialChannels, function(item) {
                var startTime = item.formatStartedAt;
                var title = item.title;
                var url = '/news/' + item._id;
                var pv = item.pageviews;
                return { value: title, data: item._id, url: url, date: startTime, pv: pv};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple3 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple3').prepend('<option value="'+suggestion.data+'">'+ suggestion.value +'</option>');
        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax3').val() +'<span>',
                html: true
            });
        }
        $('#multiselect_simple3').multiselect('destroy').multiselect(customOption);
        $('#autocomplete-ajax3').val("");
      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x3').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

$('#autocomplete-ajax4').autocomplete({
    serviceUrl: '/indexpage/news',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    params: {status: 'RELEASE',type: 'VIDEO'},
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart4') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete4')},
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError4') },
    transformResult: function(response) {
        return {
            suggestions: $.map(response.newsList, function(item) {
                var startTime = item.formatStartedAt;
                var title = item.title;
                var url = '/news/' + item._id;
                var pv = item.pageviews;
                return { title: title, value: startTime + ' - ' + title, data: item._id, url: url, date: startTime, pv: pv};
            })
        };
    },
    onSelect: function (suggestion) {

        text = suggestion.data;
        if ($("#multiselect_simple4 option[value='"+text+"']").length === 0) {
            $('#multiselect_simple4').prepend('<option value="'+suggestion.data+'">'+ suggestion.title +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax4').val() +'<span>',
                html: true
            });
        }
        $('#multiselect_simple4').multiselect('destroy').multiselect(customOption);
        $('#autocomplete-ajax4').val("");

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x4').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});


$('#autocomplete-ajax5').autocomplete({
    serviceUrl: '/indexpage/news',
    dataType: 'json',
    deferRequestBy: 600,
    paramName: "title",
    params: { status: 'RELEASE', isFeed : 'true', select:'title sn startedAt feedFrom' },
    onSearchStart: function(){ $('.load').addClass('loader'); console.log('onSearchStart') },
    onSearchComplete: function(){ $('.load').removeClass('loader');console.log('onSearchComplete') },
    onSearchError: function(){ $('.load').removeClass('loader');console.log('onSearchError') },
    transformResult: function(response) {

        return {
            suggestions: $.map(response.newsList, function(item) {
                var startTime = item.formatStartedAt;
                var title = item.title;
                var url = '/news/' + item._id;
                var pv = item.pageviews;
                var feedFrom = item.feedFrom;
                return { title: title, value: startTime + ' - ' + title, data: item._id, url: url, date: startTime, pv: pv , feedFrom: feedFrom };
            })
        };
    },
    onSelect: function (suggestion) {
        text = suggestion.data;
        if ($("#multiselect_simple option[value='"+text+"']").length === 0) {
            $('#multiselect_simple').prepend('<option item-feedFrom="'+ suggestion.feedFrom +'" item-pv="'+ suggestion.pv +'" item-date="'+ suggestion.date +'" item-url="' + suggestion.url + '" value="'+suggestion.data+'" selected>'+ suggestion.title +'</option>');

        } else {
            sweetAlert({
                title: '<small>已經加入過了</small>!',
                text: '<span>'+ $('#autocomplete-ajax5').val() +'<span>',
                html: true
            });
        }
        $('#multiselect_simple').multiselect('destroy').multiselect(customOption);
        $('#autocomplete-ajax5').val("");

      },
      onHint: function (hint) {
        $('#autocomplete-ajax-x5').val(hint);
      },
      onInvalidateSelection: function() {
        $('.selection-ajax').html('None selected');
      }
});

</script>

<script type="text/javascript">
    $(function() {
        var defaultOptions = {
            //availableListPosition: 'bottom',
            moveEffect: 'highlight',
            moveEffectOptions: {direction:'vertical'},
            moveEffectSpeed: 'fast'
        };

        var customOption = $.extend($.extend({}, defaultOptions), {
            sortMethod: null,
            sortable: true,
            splitRatio: 0.50,
            optionRenderer: function(option){
                var newsUrl = option.attr('item-url');
                var date = option.attr('item-date') ? option.attr('item-date').replace(/-/g, '') : '-';
                var pv = option.attr('item-pv') || '-';
                var feedFrom = option.attr('item-feedFrom') ? option.attr('item-feedFrom') : '';
                switch(feedFrom){
                    case 'MNA':
                        feedFrom = '軍聞社';
                        break;
                    case 'CNA':
                        feedFrom = '中央社';
                        break;
                    case 'CNYES':
                        feedFrom = '鉅亨網';
                        break;
                    default:
                        feedFrom = '';
                }
                var feedFromHtml = feedFrom ? '<span class="feed-news">'+feedFrom+'</span>' : '';
                var linkHtml = '<a class="link" target="_blank" href="'+ newsUrl +'">編輯</a>';
                var optionHtml = '<div><span class="date">' + date + '</span>' + option.html() + '<span class="pv">' + pv + '</span></div>';
                return feedFromHtml + linkHtml + optionHtml;
            }
        });

        var widgets = {
            'simple': customOption,
            'simple2': customOption,
            'simple3': customOption,
            'simple4': customOption,
        };

        $.each(widgets, function(k, i) {
            $('#multiselect_'+k).multiselect(customOption).on('multiselectChange', function(evt, ui) {
              var selectedItem = $(ui.optionElements[0]);
              //如果是外匯新聞 點擊後直接移除 不移到右邊待選列表
              if( selectedItem.attr('item-feedFrom') !== 'OWN' ){
                selectedItem.remove();
                $('#multiselect_'+k).multiselect('destroy').multiselect(customOption);

              }
                $(ui.optionElements).before( '#multiselect_'+k );
                //  如果是點擊 link, 就不改變狀態
                if (window.linkCheck) {
                    $(ui.optionElements).prop('selected', !ui.selected);
                    $('#multiselect_'+k).multiselect('refresh');
                    window.linkCheck = false;
                }
                var values = $.map(ui.optionElements, function(opt) { return $(opt).attr('value'); }).join(', ');
                $('#debug_'+k).prepend( $('<div></div>').text('Multiselect change event! ' + (ui.optionElements.length == $('#multiselect_'+k).find('option').size() ? 'all ' : '') + (ui.optionElements.length + ' value' + (ui.optionElements.length > 1 ? 's were' : ' was')) + ' ' + (ui.selected ? 'selected' : 'deselected') + ' (' + values + ')') );
            }).on('multiselectSearch', function(evt, ui) {
                $('#debug_'+k).prepend( $('<div></div>').text('Multiselect beforesearch event! searching for "' + ui.term + '"') );
            }).parents('.usage_simple').find('.btnGet_value').click(function(evt) {
                evt.preventDefault(); evt.stopPropagation();
                $('#debug_'+k).prepend( $('<div></div>').text("Submit query = " + $('form').serialize() ) );

                return false;
            });

            $('#btnToggleOriginal_'+k).click(function() {
                var _m = $('#multiselect_'+k);
                if (_m.is(':visible')) {
                    _m.next().toggle().end().toggleClass('uix-multiselect-original').multiselect('refresh');
                } else {
                    _m.toggleClass('uix-multiselect-original').next().toggle();
                }
                return false;
            });
            $('#btnSearch_'+k).click(function() {
                $('#multiselect_'+k).multiselect('search', $('#txtSearch_'+k).val());
            });
            $('#multiselect_'+k+ ' option').each(function(){
                text = $(this).val();
                if ($("#multiselect_"+k+ " option[value='"+text+"']").length >1){
                    $("#multiselect_"+k+ " option[value='"+text+"']:gt(0)").remove();
                }
            });
        });

        // 為每篇都加上 Link
        setTimeout(function(){
            $('.ui-state-default .link').on('click', function (){
                window.linkCheck = true;
            });
        }, 500);
    });

    /* 選擇項目的數量防呆
    * 根據NOWnews-api config文件下admin.indexpage設定的數量
    */
    var indexpage = {
            "carousels": 30,
            "specialTopics": 8,
            "specialChannels": 8,
            "videos": 20
    };
      //新聞
      $('#fileupload').on('submit',function(e){
        var limit = indexpage.carousels;
        var selectedCount = $("option:selected", $('#multiselect_simple')).length;
        if( selectedCount > limit ){
          swal({
            title: '新聞最多'+limit+'則喔',
            text: '',
            type: 'warning',
            timer: 1000
          })
          e.preventDefault();
        }
      });
      //專題
      $('#fileupload2').on('submit',function(e){
        var limit = indexpage.specialTopics;
        var selectedCount = $("option:selected", $('#multiselect_simple2')).length;
        if( selectedCount > limit ){
          swal({
            title: '專題最多'+limit+'則喔',
            text: '',
            type: 'warning',
            timer: 1000
          })
          e.preventDefault();
        }
      });
      //特輯
      $('#fileupload3').on('submit',function(e){
        var limit = indexpage.specialChannels;
        var selectedCount = $("option:selected", $('#multiselect_simple3')).length;
        if( selectedCount > limit ){
          swal({
            title: '特輯最多'+limit+'則喔',
            text: '',
            type: 'warning',
            timer: 1000
          })
          e.preventDefault();
        }
      });
      //影音
      $('#fileupload4').on('submit',function(e){
        var limit = indexpage.videos;
        var selectedCount = $("option:selected", $('#multiselect_simple4')).length;
        if( selectedCount > limit ){
          swal({
            title: '影片最多'+limit+'則喔',
            text: '',
            type: 'warning',
            timer: 1000
          })
          e.preventDefault();
        }
      });
</script>
{% endblock %}
