{% set title = "新增首頁" %}
{% extends "../base.html" %}
{% from "../util/form-user-record.html" import formUserRecord %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}

{% block container %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery.uix.multiselect.css">
<link rel="stylesheet" href="/static/css/page/indexpage.css">
<link rel="stylesheet" href="/static/css/sweetalert.min.css">

<section class="content">
    <!--  大五小五設定 -->
    {% include "./block.big5small5.html" %}

    <!-- 專題設定 -->
    {% include "./block.topic.html" %}

    <!-- 特輯設定 -->
    {% include "./block.special.html" %}

    <!-- 影片設定 -->
    {% include "./block.video.html" %}
</section>

{#  script 暫時放這   #}

<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.autocomplete.min.js"></script>
<script src="/static/js/jquery.uix.multiselect.js"></script>
<script src="/static/js/jquery.themeswitcher.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>

<script>
// Initialize ajax autocomplete:
var defaultOptions = {
    //availableListPosition: 'bottom',
    moveEffect: 'highlight',
    moveEffectOptions: {direction:'vertical'},
    moveEffectSpeed: 'fast'
};
var customOption = $.extend($.extend({}, defaultOptions), {
    sortMethod: null,
    sortable: true,
    splitRatio: 0.50,
    optionRenderer: function(option){
        var newsUrl = option.attr('item-url');
        var date = option.attr('item-date') ? option.attr('item-date').replace(/-/g, '') : '-';
        var pv = option.attr('item-pv') || '-';
        var feedFrom = option.attr('item-feedFrom') ? option.attr('item-feedFrom') : '';
        switch(feedFrom){
            case 'MNA':
                feedFrom = '軍聞社';
                break;
            case 'CNA':
                feedFrom = '中央社';
                break;
            case 'CNYES':
                feedFrom = '鉅亨網';
                break;
            default:
                feedFrom = '';
        }
        var feedFromHtml = feedFrom ? '<span class="feed-news">'+feedFrom+'</span>' : '';
        var linkHtml = '<a class="link" target="_blank" href="'+ newsUrl +'">編輯</a>';
        var optionHtml = '<div><span class="date">' + date + '</span>' + option.html() + '<span class="pv">' + pv + '</span></div>';
        return feedFromHtml + linkHtml + optionHtml;
    }
});
</script>

<script type="text/javascript">
    $(function() {
        var defaultOptions = {
            //availableListPosition: 'bottom',
            moveEffect: 'highlight',
            moveEffectOptions: {direction:'vertical'},
            moveEffectSpeed: 'fast'
        };

        var customOption = $.extend($.extend({}, defaultOptions), {
            sortMethod: null,
            sortable: true,
            splitRatio: 0.50,
            optionRenderer: function(option){
                var newsUrl = option.attr('item-url');
                var date = option.attr('item-date') ? option.attr('item-date').replace(/-/g, '') : '-';
                var pv = option.attr('item-pv') || '-';
                var feedFrom = option.attr('item-feedFrom') ? option.attr('item-feedFrom') : '';
                switch(feedFrom){
                    case 'MNA':
                        feedFrom = '軍聞社';
                        break;
                    case 'CNA':
                        feedFrom = '中央社';
                        break;
                    case 'CNYES':
                        feedFrom = '鉅亨網';
                        break;
                    default:
                        feedFrom = '';
                }
                var feedFromHtml = feedFrom ? '<span class="feed-news">'+feedFrom+'</span>' : '';
                var linkHtml = '<a class="link" target="_blank" href="'+ newsUrl +'">編輯</a>';
                var optionHtml = '<div><span class="date">' + date + '</span>' + option.html() + '<span class="pv">' + pv + '</span></div>';
                return feedFromHtml + linkHtml + optionHtml;
            }
        });

        var widgets = {
            'simple2': customOption,
            'simple3': customOption,
            'simple4': customOption
        };

        $.each(widgets, function(key, i) {
            $('#multiselect_' + key).multiselect(customOption).on('multiselectChange', function(evt, ui) {
            var selectedItem = $(ui.optionElements[0]);
            $(ui.optionElements).before( '#multiselect_' + key );
            //  如果是點擊 link, 就不改變狀態
            if (window.linkCheck) {
                $(ui.optionElements).prop('selected', !ui.selected);
                $('#multiselect_' + key).multiselect('refresh');
                window.linkCheck = false;
            }
            var values = $.map(ui.optionElements, function(opt) { return $(opt).attr('value'); }).join(', ');
            $('#debug_' + key).prepend( $('<div></div>').text('Multiselect change event! ' + (ui.optionElements.length == $('#multiselect_' + key).find('option').size() ? 'all ' : '') + (ui.optionElements.length + ' value' + (ui.optionElements.length > 1 ? 's were' : ' was')) + ' ' + (ui.selected ? 'selected' : 'deselected') + ' (' + values + ')') );
            }).on('multiselectSearch', function(evt, ui) {
                $('#debug_' + key).prepend( $('<div></div>').text('Multiselect beforesearch event! searching for "' + ui.term + '"') );
            }).parents('.usage_simple').find('.btnGet_value').click(function(evt) {
                evt.preventDefault(); evt.stopPropagation();
                $('#debug_' + key).prepend( $('<div></div>').text("Submit query = " + $('form').serialize() ) );

                return false;
            });

            $('#btnToggleOriginal_' + key).click(function() {
                var _m = $('#multiselect_' + key);
                if (_m.is(':visible')) {
                    _m.next().toggle().end().toggleClass('uix-multiselect-original').multiselect('refresh');
                } else {
                    _m.toggleClass('uix-multiselect-original').next().toggle();
                }
                return false;
            });
            $('#btnSearch_' + key).click(function() {
                $('#multiselect_' + key).multiselect('search', $('#txtSearch_' + key).val());
            });
            $('#multiselect_'+ key + ' option').each(function(){
                text = $(this).val();
                if ($("#multiselect_"+ key + " option[value='"+text+"']").length >1){
                    $("#multiselect_"+ key + " option[value='"+text+"']:gt(0)").remove();
                }
            });
        });

        // 為每篇都加上 Link
        setTimeout(function(){
            $('.ui-state-default .link').on('click', function (){
                window.linkCheck = true;
            });
        }, 500);
    });
</script>
{% endblock %}

