<table id="news-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>標題</th>
            <th>類別</th>
            <th>作者</th>
            <th>今日PV</th>
            <th>狀態</th>
            <th>初次發布日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
        {% for value in newsListInfo.newsList %}
            <tr>
                <td>
                    <a href="#">
                        {{ value.title }}
                    </a>
                </td>
                <td>
                    {{ NEWS_TYPES[value.type] }}
                </td>
                <td>
                    <a href="#">
                    {{ value.Author.name }}
                    </a>
                </td>
                <td>0</td>
                <td>{{ NEWS_STATUS[value.status] }}</td>
                <td>{{ value.formatCreatedAt }}</td>
                <td>
                    <a class="btn btn-info"
                        href="/news/{{value._id}}">
                        編輯
                    </a>
                </td>
                <td>
                    <button item-id="{{value._id}}" class="btn btn-danger delete-news">移除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>標題</th>
            <th>類別</th>
            <th>作者</th>
            <th>今日PV</th>
            <th>狀態</th>
            <th>初次發布日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </tfoot>
</table>
<script>
</script>
