<!--
+ 摘要（內文前 300 字）
+ 內文 CKEdit
+ 關鍵字*
+ 自由欄位
+ 撰稿備忘錄 CKEdit
+ workflow
  - 草稿/送審/發布
  - 預約發稿：立即/預約時間
  - 預約時間：（年月日時分）
  - 回應（log 紀錄）
 -->
<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>新聞來源 *</label>
                <select class="form-control select2">
                    <option selected="selected">NOWnews</option>
                </select>
            </div>
            <div class="form-group">
                <label>新聞主類 *</label>
                <select class="form-control select2">
                    <option selected="selected">政治</option>
                </select>
                <span class="help-block">用以選擇新聞主要的分類，rss 外送，pv 都會用到</span>
            </div>
            <div class="form-group">
              <label for="title">標題</label>
              <input type="text" class="form-control" id="title">
              <span class="help-block">限制字數為 26 已輸入 0</span>
            </div>
            <div class="form-group">
              <label for="short-title">短標題</label>
              <input type="text" class="form-control" id="short-title">
              <span class="help-block">限制字數為 16 已輸入 0</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>
                        <div>是否外送*</div>
                        <input class="minimal" type="checkbox">
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label>
                        <div>是否成人*</div>
                        <input class="iCheck-helper minimal" type="checkbox">
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label>處理者</label>
                    <select class="form-control select2">
                        <option selected="selected">歐陽克</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>
                        <div>作者</div>
                        <input class="form-control"
                            disabled="disabled"
                            type="text"
                            value="{{ '歐陽克' }}"/>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>粉絲團 *</label>
                <select class="form-control select2">
                    <option selected="selected">NOWnes</option>
                </select>
            </div>
            <br />
            <div class="form-group">
              <label for="short-title">訊頭</label>
              <input type="text" class="form-control" id="short-title">
            </div>
            <br />

        </div>
    </div>
</div>
