{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-one.html" %}
{% endblock %}

{% block container %}

    {# NOWnews Page View 偵測碼 #}
    {% include "../trace/NOWpageview.html" %}

    <article id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <nav class="category-select mui-container-fluid">
            {% set categoryType = 'news' %}
            {% include "../blocks/category-nav.html" %}
        </nav>
        {# 廣告版位 #}
        {% include "../ad/one/ad300x250_1.html" %}

        <div class="nownews-wrapper news-one-page">
            {# 麵包屑開始 #}
            <div class="breadcrumb">
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/"><span itemprop="title">NOWnews 今日新聞</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/news/category/{{ news.category._id }}"><span itemprop="title">{{ news.category.name or '不分類' }}</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="{{ news.url }}"><span itemprop="title">{{ news.title }}</span></a>
                </span>
            </div>
            {# 麵包屑結束 #}

            <header>
                <h1 class="title">{{ news.title }}</h1>
                <div class="mini-info">
                    <p class="text-gray one-category">
                        <a href="/news/category/{{ news.category._id }}">
                            {{ news.category.name or '不分類' }}
                        </a>
                    </p>
                    <p class="text-gray">{{ news.author }}</p>
                    <p class="text-gray"><i class="fa fa-clock-o fa-fw"></i>{{ news.createdAt}}</p>
                    <div class="font-size-controllers">
                        <a class="font-link font-size-large mui-btn mui-btn--flat">大</a>
                        <a class="font-link font-size-middle mui-btn mui-btn--flat">中</a>
                        <a class="font-link font-size-small mui-btn mui-btn--flat">小</a>
                    </div>
                    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25682984'></div>
                </div>
            </header>

            <section class="news-body">
                <div class="main-image-box" style="margin: 10px -15px;">
                    <img alt="{{ news.image.description }}" src="{{ news.image.url if news.image.url else 'http://legacy.nownews.com/NOWnews_default/default_terry.jpg' }}" />
                    <p style="padding-top: 5px;padding-left: 10px;" class="mui--text-dark-secondary">{{ news.image.description }}</p>
                </div>
                {{ news.htmlBody | safe }}
            </section>

            {# freeBody 業務用欄位 #}
            <div class="freeBody">
                {{ news.freeBody | safe }}
            </div>

            <div class="arrow-block mui--appbar-line-height">

                {# 中信房屋 廣告版位 #}
                {% include "../ad/one/cthouseAd.html" %}

                {# ONEAD 廣告版位 #}
                {% include "../ad/one/oneAd.html" %}

                {# 廣告版位 #}
                {% include "../ad/one/ad300x250_2.html" %}
            </div>
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25683106'></div>
            <section class="arrow-block mui--appbar-line-height">
                <a href="/news/{{ news.prev._id }}{{queryParams}}" class="arrow-btn prev-arrow mui--text-nowrap">
                    <span>{{ news.prev.field_short_title.value }}</span>
                </a>
                <a href="/news/{{ news.next._id }}{{queryParams}}" class="arrow-btn next-arrow mui--text-nowrap mui--text-right">
                    <span>{{ news.next.field_short_title.value }}</span>
                </a>
            </section>
            {% include "./comment.html" %}
            {% include "../blocks/related-content.html" %}
            {% include "../ad/one/popin.html" %} {# popin 廣告 #}
            {% include "../blocks/free-body.html" %}
        </div>
    </article>

    {# 雀巢追蹤碼 #}
    {% include "../trace/nestle.html" %}

    {# 凱擘追蹤碼 #}
    {% include "../trace/kbro.html" %}

    {# 先放置頂廣告，待 11 月初的會議調整 #}
    {# 置底的 social link #}
    {#{% include "../blocks/social-link.html" %} #}
{% endblock %}
