{% set title = "編輯新聞" %}
{% extends "../base.html" %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}
{% block container %}
<section class="content">
    <form id="fileupload" action="/news/{{news._id}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">新聞建立者: {{ news.CreatedBy.name }}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">來源
                                <span class="text-danger">*</span>
                            </label>
                            <p>NOWnews</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">訊頭
                                <span class="text-danger">*</span>
                            </label>
                            <input class="input form-control" name="newsBy" placeholder="XX中心／綜合報導" type="text" value="{{ news.newsBy }}"/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                作者
                                <span class="text-danger">*</span>
                            </label>
                            <select name="Author" class="form-control select2" required>
                                {% for user in userList %}
                                    {% if user._id == Author._id %}
                                        <option value="{{ user._id }}" selected>
                                            {{ user.staffId or 'NN00xxx' }} / {{ user.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ user._id }}">
                                            {{ user.staffId or 'NN00xxx' }} / {{ user.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                類別
                                <span class="text-danger">*</span>
                            </label>
                            <select name="type" class="form-control select2" required>
                                {% for key, type in NEWS_TYPES %}
                                    {% if news.type == key %}
                                        <option value="{{ key }}" selected>{{ type }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="MainMenu" class="control-label">
                                新聞主分類
                                <span class="text-danger">*</span>
                            </label>
                            <select id="MainMenu" name="MainMenu" multiple="multiple" style="display: none;" required>
                                {% for m in menus %}
                                    {% if m._id == news.MainMenu._id %}
                                        <option value="{{ m._id }}" selected="selected">{{ m.name }}</option>
                                    {% else %}
                                        <option value="{{ m._id }}">{{ m.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Menus" class="control-label">新聞次分類</label>
                            <select id='Menus' name="Menus" multiple="multiple" style="display: none;">
                                {% for menu in menus %}
                                    <optgroup label="{{ menu.name }}">
                                        {% for child in menu.child %}
                                            {% if child.select %}
                                                <option value='{{ child._id }}' selected="selected">{{ child.name }}</option>
                                            {% else %}
                                                <option value='{{ child._id }}'>{{ child.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                {% if news.isAdult %}
                                    <input name="isAdult" type="checkbox" checked> 成人新聞
                                {% else %}
                                    <input name="isAdult" type="checkbox"> 成人新聞
                                {% endif %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {% if news.isDeliver %}
                                    <input name="isDeliver" type="checkbox" checked> 可外送
                                {% else %}
                                    <input name="isDeliver" type="checkbox"> 可外送
                                {% endif %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {% if news.isSponsored %}
                                    <input name="isSponsored" type="checkbox" checked> 業配文
                                {% else %}
                                    <input name="isSponsored" type="checkbox"> 業配文
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="title" class="control-label">
                                長標
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="title" name="title" value="{{news.title}}" class="input form-control" placeholder="限制字數為 26" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="shortTitle" class="control-label">
                                短標
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" maxlength="16" id="shortTitle" value="{{news.shortTitle}}" name="shortTitle" class="input form-control" placeholder="限制字數為 16" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# 主圖設定 #}
        {% set photo = news.MainPhoto %}
        {% include "./newsBlock/photo.html" %}

        {# 影片設定 #}
        {% include "./video/block.video.html" %}

        {# 文章設定 #}
        {% include "./article/block.edit.article.html" %}

        {# 業務欄位 #}
        {% include "./sponsored/block.edit.sponsored.html" %}

        {# 發稿設定 #}
        {% include "./releaseSet/block.edit.releaseSet.html" %}

        {# 新聞備忘錄 #}
        {% include "./newsBlock/memo.html" %}

        {# 注意事項 - 需要跟新聞部確認要注意的事項
        {% include "./newsBlock/notice.html" %}
        #}
        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <button id="preview-btn" type="button"
                class="btn bg-orange btn-flat margin"
                data-newsId="{{news._id}}">預覽</button>
            <a class="btn btn-info btn-flat margin"
                href="/news/{{news._id}}/logs"
                target="_blank">
                歷史紀錄
            </a>
            <a href="/news/myList" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</section>

{#  script 暫時放這   #}

<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<!-- multiple-select -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.js"></script>

<!-- tagEditor JS -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/caret/1.0.0/jquery.caret.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.min.js"></script>

<style>
    .memo-box .box-comments{
        background: #fff;
    }
    .ms-drop ul>li.group {
        font-size: 16px;
        text-align: center;
    }
    .ms-drop ul>li.group input{
        display: none;
    }
    .ui-widget-shadow {
        opacity: 1;
    }
    /* 隱藏掉 ck image btn */
    a.cke_button.cke_button__image {
        display: none;
    }
</style>
<script>
    $(function () {

        // Replace the <textarea id="editor1"> with a CKEditor
        var newsContent = CKEDITOR.replace('editor1', {
            contentsCss: '/static/css/customCKEditor.css',
            extraAllowedContent: 'img[data-isdeliver];iframe[*]',
            height:550,
            removeButtons: 'About'
        });

        var defaultWarning = {
            wine: {
                label: '插入飲酒警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a>提醒您  酒後不開車，飲酒過量有礙健康！※</p>'
            }, smoke: {
                label: '插入吸菸警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a>提醒您  吸菸會導致肺癌、心臟血管疾病，未滿18歲不得吸菸！※</p>'
            }, suicide: {
                label: '插入自殺警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a> 提醒您：<br />自殺不能解決問題，勇敢求救並非弱者，生命一定可以找到出路。<br />透過守門123步驟-1問2應3轉介，你我都可以成為自殺防治守門人。<br />※  安心專線：0800-788-995(0800-請幫幫-救救我)<br />※  張老師專線：1980<br />※  生命線專線：1995<br /></p>'
            }, drog: {
                label: '插入吸毒警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a> 提醒您：<br />少一份毒品，多一分健康；吸毒一時，終身危害。<br />※  戒毒諮詢專線：0800-770-885(0800-請請您-幫幫我)<br />※  安心專線：0800-788-995(0800-請幫幫-救救我)<br />※  張老師專線：1980<br />※　生命線專線：1995<br /></p>'
            }
        };

        $.each(defaultWarning, function(key, value) {
            newsContent.addCommand(key, {
            exec: function(edt) {
                    var originalData = edt.getData();
                    edt.setData(originalData + value.warning);
                }
            });

            newsContent.ui.addButton(key, {
                label: value.label,
                command: key,
                toolbar: 'insert',
                icon: '/static/img/icon/' + key +'.png'
            });
        });
        // CKEDITOR.replace('editor2');

        $('#MainMenu').multipleSelect({
            filter: true,
            single: true,
            width: '100%'
        });
        $('#Menus').multipleSelect({
            filter: true,
            multiple: true,
            width: '100%',
            selectAll: false,
            allSelected: false
        });

        function strip_tags (input, allowed) {
            allowed = (((allowed || '') + '').toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');
            var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi;
            return input.replace(tags, function ($0, $1) {
                return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : ''
            });
        }

        // 讓 input 按 enter 沒有效果
        $('.input').keypress(function(e) {
            var code = e.keyCode ? e.keyCode : e.which;
            if(code == 13) {
                e.preventDefault();
            }
        });
        $("form").submit(function( event ) {
            var content = CKEDITOR.instances.editor1.getData();
            // var freeContent = CKEDITOR.instances.editor2.getData();

            $('[name=content]').val(content);
            // $('[name=freeContent]').val(freeContent);
            $('[name=MainMenu]').val($("#MainMenu").multipleSelect("getSelects"));
            $('[name=Menus]').val($("#Menus").multipleSelect("getSelects"));

            // event.preventDefault();

            // 原設定是給圖片上傳使用，更新新聞時需要切換回 from 模式
            $(this).attr("enctype", "application/x-www-form-urlencoded")
        });

        $('#reservation-datetimepicker').daterangepicker({
            "timePicker24Hour": true,
            "singleDatePicker": true,
            "timePicker": true,
            "locale": {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        });

        $(".select2").select2();

        // 發稿設定
        var status = null;
        var publishSetting = function (status) {
            switch (status) {
                case 'DRAFT':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    $('#location').prop('required', false);
                    $('#shortTitle').prop('required', false);
                    break;
                case 'REVIEW':
                    $('.lastReviewer').css('visibility', 'inherit');
                    $('.reservation').css('visibility', 'inherit');
                    $('select[name="LastReviewer"]').prop('disabled', false);
                    $('#reservation-datetimepicker').prop('disabled', false);
                    $('#location').prop('required', true);
                    $('#shortTitle').prop('required', true);
                    break;
                case 'RELEASE':
                    $('.lastReviewer').css('visibility', 'inherit');
                    $('.reservation').css('visibility', 'inherit');
                    $('select[name="LastReviewer"]').prop('disabled', true);
                    $('#reservation-datetimepicker').prop('disabled', true);
                    $('#location').prop('required', true);
                    $('#shortTitle').prop('required', true);
                    break;
                case 'CLOSE':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    $('#location').prop('required', false);
                    $('#shortTitle').prop('required', true);
                    break;
                default:
                    return false;
            }
        };
        publishSetting($('input[name="status"]:checked', '.publish-setting').attr('value'));
        $('input[name="status"]', '.publish-setting').on('click', function(){
            if (status === $(this).attr('value') ) return false;

            status = $(this).attr('value');
            publishSetting(status);
        });

        $("#keywords").tagEditor({
            delimiter: ',',
            placeholder: '請用 Enter 或逗號加入關鍵字 ...',
            maxTags: 7
        });


        if ($('select[name=type]').val() !== 'VIDEO') {
            $('.video-setting').addClass('hide');
        }
        $('select[name=type]').change(function(){
            if($(this).val() === 'VIDEO') {
                $('.video-setting').removeClass('hide');
            } else {
                $('.video-setting').addClass('hide');
            }
        });


        $('#preview-btn').on('click', function(){
            var newsId = $(this).attr('data-newsId');
            $.post('/news/' + newsId + '/preview', function(data) {
                window.open(data.previewUrl);
            });
        });

        // 業務欄位
        if ($('input[name=isSponsored]').prop('checked')) {
            $('.sponsored-setting').removeClass('hide');
        }
        $('input[name=isSponsored]').change(function(){
            if($(this).prop('checked')) {
                $('.sponsored-setting').removeClass('hide');
            } else {
                $('.sponsored-setting').addClass('hide');
            }
        });
    });
</script>
{% endblock %}
