{% set title = "新增新聞" %}
{% extends "../base.html" %}

{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}
{% block container %}
<section class="content">
    <form id="fileupload" action="/news/create" method="post" enctype="multipart/form-data">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的來源</label>
                            <p>NOWnews</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的作者</label>
                            <select name="Author" class="form-control select2">
                                {% for user in userList %}
                                    <option value="{{ user._id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的類別</label>
                            <select name="type" class="form-control select2">
                                {% for key, type in NEWS_TYPES %}
                                    <option value="{{ key }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="MainMenu" class="control-label">新聞主分類</label>
                            <select id="MainMenu" name="MainMenu" multiple="multiple" style="display: none;">
                                {% for m in menus %}
                                    {% if m._id == currentUser.defaultSettings.Menu %}
                                        <option value="{{ m._id }}" selected="selected">{{ m.name }}</option>
                                    {% else %}
                                        <option value="{{ m._id }}">{{ m.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Menus" class="control-label">新聞次分類</label>
                            <select id='Menus' name="Menus" multiple="multiple" style="display: none;">
                                {% for menu in menus %}
                                    <optgroup label="{{ menu.name }}">
                                        {% for child in menu.child %}
                                            <option value='{{ child._id }}'>{{ child.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input name="isAdult" type="checkbox"> 成人新聞
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="isDeliver" type="checkbox"> 不可外送
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="isSponsored" type="checkbox"> 業配文
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="title" class="control-label">長標</label>
                            <input type="text" id="title" name="title" class="input form-control" placeholder="限制字數為 26">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="shortTitle" class="control-label">短標</label>
                            <input type="text" id="shortTitle" name="shortTitle" class="input form-control" placeholder="限制字數為 16">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# 主圖設定 #}
        {% include "./newsBlock/photo.html" %}

        {# 文章設定 #}
        {% include "./article/block.create.article.html" %}

        {# 業務欄位 #}
        {% include "./sponsored/block.create.sponsored.html" %}

        {# 發稿設定 #}
        {% include "./releaseSet/block.create.releaseSet.html" %}

        {# 第一版先隱藏起來
        <div class="box memo-box">
            <div class="box-header with-border">
                <h3 class="box-title">撰稿備忘錄</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!--<div class="box-body ">
                <div class="box-comments">
                    <div class="box-comment">
                        <div class="comment-text">
                            <span class="username">
                                Maria Gonzales
                                <span class="text-muted pull-right">8:03 PM Today</span>
                            </span>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                    <div class="box-comment">
                        <div class="comment-text">
                            <span class="username">
                                Maria Gonzales
                                <span class="text-muted pull-right">8:03 PM Today</span>
                            </span>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="box-footer">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                    <input type="text" name="memo" class="form-control input-sm input" placeholder="輸入你的留言">
                </div>
            </div>
        </div>
        #}

        {# 注意事項 - 需要跟新聞部確認要注意的事項
        {% include "./block.notice.html" %}
        #}
        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <a href="/news/myList" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</section>

{#  style 暫時放這   #}
<!-- Select2 -->
<link rel="stylesheet" href="/static/css/select2.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css" />

{#  script 暫時放這   #}
<!-- Select2 -->
<!--<script src="/static/js/select2/select2.full.min.js"></script>-->
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>

<!-- multiple-select -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.js"></script>

<!-- tagEditor JS -->
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/caret/1.0.0/jquery.caret.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tag-editor/1.0.20/jquery.tag-editor.min.js"></script>

<style>
    .memo-box .box-comments{
        background: #fff;
    }
    .ms-drop ul>li.group {
        font-size: 16px;
        text-align: center;
    }
    .ms-drop ul>li.group input{
        display: none;
    }
    .ui-widget-shadow {
        opacity: 1;
    }
</style>
<script>
    $(function () {

        $('#MainMenu').multipleSelect({
            filter: true,
            single: true,
            width: '100%'
        });
        $('#Menus').multipleSelect({
            filter: true,
            multiple: true,
            width: '100%',
            selectAll: false,
            allSelected: false
        });

        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1', {height:550});
        CKEDITOR.replace('editor2');

        var data = CKEDITOR.instances.editor1.getData();
        function strip_tags (input, allowed) {
            allowed = (((allowed || '') + '').toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');
            var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi;
            return input.replace(tags, function ($0, $1) {
                return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : ''
            });
        }

        // 讓 input 按 enter 沒有效果
        $('.input').keypress(function(e) {
            var code = e.keyCode ? e.keyCode : e.which;
            if(code == 13) {
                e.preventDefault();
            }
        });
        $("form").submit(function( event ) {
            var content = CKEDITOR.instances.editor1.getData();
            var freeContent = CKEDITOR.instances.editor2.getData();

            $('[name=content]').val(content);
            $('[name=freeContent]').val(freeContent);
            $('[name=MainMenu]').val($("#MainMenu").multipleSelect("getSelects"));
            $('[name=Menus]').val($("#Menus").multipleSelect("getSelects"));

            // 原設定是給圖片上傳使用，更新新聞時需要切換回 from 模式
            $(this).attr("enctype", "application/x-www-form-urlencoded")
        });

        $('#reservation-datetimepicker').daterangepicker({
            "timePicker24Hour": true,
            "singleDatePicker": true,
            "timePicker": true,
            "startDate": new Date(),
            "locale": {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        });

        $(".select2").select2();

        // 發稿設定
        var status = null;
        var publishSetting = function (status) {
            switch (status) {
                case 'DRAFT':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    break;
                case 'REVIEW':
                    $('.lastReviewer').css('visibility', 'inherit');
                    $('.reservation').css('visibility', 'inherit');
                    break;
                case 'RELEASE':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    break;
                case 'CLOSE':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    break;
                default:
                    return false;
            }
        };
        publishSetting($('input[name="status"]:checked', '.publish-setting').attr('value'));
        $('input[name="status"]', '.publish-setting').on('click', function(){
            if (status === $(this).attr('value') ) return false;

            status = $(this).attr('value');
            publishSetting(status);
        });

        $("#keywords").tagEditor({
            delimiter: ',',
            placeholder: 'Enter 加入關鍵字 ...',
            maxTags: 7
        });
    });
</script>
{% endblock %}
