{% set title = listDescription.title %}
{% set subtitle = listDescription.subtitle %}
{% extends "../base.html" %}
{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <div class="box-header table-responsive">
                <div class="row">
                    <div class="form-group col-md-2">
                        <a class="btn btn-success" href="/news/create">新增新聞</a>
                    </div>
                </div>
                {% include "./block.query-form.html" %}
                {% include "./block.table.html" %}
            </div>
            <div class="box-body dataTables_wrapper">
                {% include "../util/pagination.html" %}
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {

            var startElm = $('input[name=startedAt]');
            var endElm = $('input[name=endedAt]');

            initQueryFrom();
            function initQueryFrom() {
                var today = moment().format('YYYY-MM-DD');
                startElm.attr('max', today);
                endElm.attr('max', today);
            }

            $('#news-table').DataTable({
                "paging": false,
                "searching": false,
                "ordering":  false
            });
        });

        $('.delete-news').on('click', function(){
            var confirmed = confirm('您確定要刪除嗎？');
            if (!confirmed) { return; }
            var id = $(this).attr('item-id');
            $.ajax({
                url: '/news/' + id,
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}
