{% set title = "編輯新聞" %}
{% extends "../base.html" %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}
{% block container %}
<section class="content">
    <form id="fileupload" action="/news/{{news._id}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">新聞建立者: {{ news.CreatedBy.name }}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="title" class="control-label">
                                長標
                                <span class="text-danger">*</span>
                                <span id="titleCharCounter" class="text-info"></span>
                            </label>
                            <input type="text" id="title" pattern="^.{1,26}$" name="mainTitle" value="{{news.title}}" class="input form-control" placeholder="限制字數為 26" required>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="shortTitle" class="control-label">
                                短標
                                <span class="text-danger">*</span>
                                <span id="shortTitleCharCounter" class="text-info"></span>
                            </label>
                            <input type="text" pattern="^.{1,16}$" id="shortTitle" value="{{news.shortTitle}}" name="shortTitle" class="input form-control" placeholder="限制字數為 16" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">來源
                                <span class="text-danger">*</span>
                            </label>
                            <p>NOWnews</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">訊頭
                                <span class="text-danger">*</span>
                            </label>
                            <input class="input form-control" name="newsBy" placeholder="XX中心／綜合報導" type="text" value="{{ news.newsBy }}" required/>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                作者
                                <span class="text-danger">*</span>
                            </label>
                            <select name="Author" class="form-control select2" required>
                                {% for user in userList %}
                                    {% if user._id == news.Author._id %}
                                        <option value="{{ user._id }}" selected>
                                            {{ user.staffId or 'NN00xxx' }} / {{ user.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ user._id }}">
                                            {{ user.staffId or 'NN00xxx' }} / {{ user.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                類別
                                <span class="text-danger">*</span>
                            </label>
                            <select name="type" class="form-control select2" required>
                                {% for key, type in NEWS_TYPES %}
                                    {% if news.type == key %}
                                        <option value="{{ key }}" selected>{{ type }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="MainMenu" class="control-label">
                                新聞主分類
                                <span class="text-danger">*</span>
                            </label>
                            <select id="MainMenu" name="MainMenu" multiple="multiple" style="display: none;">
                                {% for m in menus %}
                                    {% if m._id == news.MainMenu._id %}
                                        <option value="{{ m._id }}" selected="selected">{{ m.name }}</option>
                                    {% else %}
                                        <option value="{{ m._id }}">{{ m.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group newsSecondCat">
                            <label for="Menus" class="control-label">新聞次分類</label>
                            <select id='Menus' name="Menus" multiple="multiple" style="display: none;">
                                {% for menu in menus %}
                                    <optgroup label="{{ menu.name }}">
                                        {% for child in menu.child %}
                                            {% if child.select %}
                                                <option value='{{ child._id }}' selected="selected">{{ child.name }}</option>
                                            {% else %}
                                                <option value='{{ child._id }}'>{{ child.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                {% if news.isAdult %}
                                    <input id="isAdult" name="isAdult" type="checkbox" checked> 成人新聞
                                {% else %}
                                    <input id="isAdult" name="isAdult" type="checkbox"> 成人新聞
                                {% endif %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {% if news.isDeliver %}
                                    <input id="isDeliver" name="isDeliver" type="checkbox" checked> 可外送
                                {% else %}
                                    <input id="isDeliver" name="isDeliver" type="checkbox"> 可外送
                                {% endif %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {% if news.isSponsored %}
                                    <input name="isSponsored" type="checkbox" checked> 業配文
                                {% else %}
                                    <input name="isSponsored" type="checkbox"> 業配文
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# 業務欄位 #}
        {% include "./sponsored/block.edit.sponsored.html" %}

        {# 主圖設定 #}
        {% set photo = news.MainPhoto %}
        {% set photos = news.Photos %}
        {% include "./newsBlock/photo.html" %}

        {# 影片設定 #}
        {% include "./video/block.video.html" %}

        {# 文章設定 #}
        {% include "./article/block.edit.article.html" %}

        {# 發稿設定 #}
        {% include "./releaseSet/block.edit.releaseSet.html" %}

        {# 新聞備忘錄 #}
        {% include "./newsBlock/memo.html" %}

        {# 注意事項 - 需要跟新聞部確認要注意的事項
        {% include "./newsBlock/notice.html" %}
        #}
        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
            <button id="preview-btn" type="button"
                class="btn bg-orange btn-flat margin"
                data-newsId="{{news._id}}">預覽</button>
            <a class="btn btn-info btn-flat margin"
                href="/news/{{news._id}}/logs"
                target="_blank">
                歷史紀錄
            </a>
            <a href="/news/myList" class="btn bg-maroon btn-flat margin">取消</a>
        </div>
    </form>
</section>

{#  script 暫時放這   #}

<!-- CK Editor -->
<script src="/static/js/ckeditor/ckeditor.js"></script>

<!-- multiple-select -->
<link rel="stylesheet" href="/static/css/multiple-select.min.css" />
<script src="/static/js/multiple-select.min.js"></script>

<!-- tagEditor JS -->
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/jquery.tag-editor.css" />

<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.caret.min.js"></script>
<script src="/static/js/jquery.tag-editor.min.js"></script>
<script src="/static/js/moment-timezone.min.js"></script>

<style>
    .memo-box .box-comments{
        background: #fff;
    }
    .ms-drop ul>li.group {
        font-size: 16px;
        text-align: center;
    }
    .ms-drop ul>li.group input{
        display: none;
    }
    .ui-widget-shadow {
        opacity: 1;
    }
    /* 隱藏掉 ck btn */
    a.cke_button.cke_button__image, a.cke_button.cke_button__scayt {
        display: none;
    }

    .disabled {
        color: #aaa;
    }
    .photo-group {
        position: relative;
        cursor: pointer;
    }
    .photo-group p.manyPhotoEleTitle {
        position: absolute;
        bottom: 0;
        margin: 0;
    }
    .manyMainPhoto {
        border-color: red;
    }
    .setIndex {
        position: absolute;
        font-size: 20px;
        background: rgba(255, 0, 0, 0.8);
        padding: 5px 10px;
        color: #fff;
        display: none;
    }
    .manyMainPhoto .setIndex {
        display: block;
    }
</style>
<script>
    $(function () {

         //成人新聞和可外送只能選一個
        $('input#isAdult').on('ifChecked', function(event){
            $('input#isDeliver').iCheck('uncheck');
        });
        $('input#isDeliver').on('ifChecked', function(event){
            $('input#isAdult').iCheck('uncheck');
        });

        //title chars counter

        $('#title').keyup(function(){
            //移除特殊字元
            if(this.value.match(/[\u200B-\u200D\uFEFF]/g)){
                this.value = this.value.replace(/[\u200B-\u200D\uFEFF]/g,'');
            };

            if(this.value.length>26){
                $('#titleCharCounter').removeClass('text-info').addClass('text-danger');
                $("#titleCharCounter").html("超出字數:"+(this.value.length-26));
            }
            else{
                $('#titleCharCounter').removeClass('text-danger').addClass('text-info');
                $("#titleCharCounter").html("目前字數:"+(this.value.length));
            }
        });

        //short title chars counter
        $('#shortTitle').keyup(function(){
             //移除特殊字元
            if(this.value.match(/[\u200B-\u200D\uFEFF]/g)){
                this.value = this.value.replace(/[\u200B-\u200D\uFEFF]/g,'');
            };

            if(this.value.length>16){
                $('#shortTitleCharCounter').removeClass('text-info').addClass('text-danger');
                $("#shortTitleCharCounter").html("超出字數:"+(this.value.length-16));
            }
            else{
                $('#shortTitleCharCounter').removeClass('text-danger').addClass('text-info');
                $("#shortTitleCharCounter").html("目前字數:"+(this.value.length));
            }
        });

        // Replace the <textarea id="contentCk"> with a CKEditor
        var ckSetting = {
            contentsCss: '/static/css/customCKEditor.css',
            height:550,
        };

        var newsContent = CKEDITOR.replace('contentCk', ckSetting);

        var defaultWarning = {
            wine: {
                label: '插入飲酒警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a>提醒您  酒後不開車，飲酒過量有礙健康！※</p>'
            }, smoke: {
                label: '插入吸菸警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a>提醒您  吸菸會導致肺癌、心臟血管疾病，未滿18歲不得吸菸！※</p>'
            }, suicide: {
                label: '插入自殺警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a> 提醒您：<br />自殺不能解決問題，勇敢求救並非弱者，生命一定可以找到出路。<br />透過守門123步驟-1問2應3轉介，你我都可以成為自殺防治守門人。<br />※  安心專線：0800-788-995(0800-請幫幫-救救我)<br />※  張老師專線：1980<br />※  生命線專線：1995<br /></p>'
            }, drog: {
                label: '插入吸毒警語',
                warning: '<p>※<a href="https://www.nownews.com/">【 NOWnews 今日新聞 】</a> 提醒您：<br />少一份毒品，多一分健康；吸毒一時，終身危害。<br />※  戒毒諮詢專線：0800-770-885(0800-請請您-幫幫我)<br />※  安心專線：0800-788-995(0800-請幫幫-救救我)<br />※  張老師專線：1980<br />※  生命線專線：1995<br /></p>'
            }
        };

        $.each(defaultWarning, function(key, value) {
            newsContent.addCommand(key, {
            exec: function(edt) {
                    var originalData = edt.getData();
                    edt.setData(originalData + value.warning);
                }
            });

            newsContent.ui.addButton(key, {
                label: value.label,
                command: key,
                toolbar: 'insert',
                icon: '/static/img/icon/' + key +'.png'
            });
        });
        CKEDITOR.replace('freeContentCk', ckSetting);

        $('#MainMenu').multipleSelect({
            filter: true,
            single: true,
            width: '100%'
        });
        $('#Menus').multipleSelect({
            filter: true,
            multiple: true,
            width: '100%',
            selectAll: false,
            allSelected: false
        });

        function strip_tags (input, allowed) {
            allowed = (((allowed || '') + '').toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');
            var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi;
            return input.replace(tags, function ($0, $1) {
                return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : ''
            });
        }

        // 讓 input 按 enter 沒有效果
        $('.input').keypress(function(e) {
            var code = e.keyCode ? e.keyCode : e.which;
            if(code == 13) {
                e.preventDefault();
            }
        });
        $("form").submit(function( event ) {
            //取消離開頁面確認dialog
            window.onbeforeunload = null;
            // 加一個遮罩
            $('.control-sidebar-bg').css({
                'z-index': '9999',
                'left': '0',
                'top': '7px',
                'opacity': '0.8',
                'width': '100%'
            });
            Pace.restart();

            var content = CKEDITOR.instances.contentCk.getData();
            var freeContent = CKEDITOR.instances.freeContentCk.getData();

            $('[name=content]').val(content);
            $('[name=freeContent]').val(freeContent);
            $('[name=MainMenu]').val($("#MainMenu").multipleSelect("getSelects"));
            $('[name=Menus]').val($("#Menus").multipleSelect("getSelects"));

            // event.preventDefault();

            // 原設定是給圖片上傳使用，更新新聞時需要切換回 from 模式
            $(this).attr("enctype", "application/x-www-form-urlencoded")
        });

        $('#reservation-datetimepicker').daterangepicker({
            "timePicker24Hour": true,
            "singleDatePicker": true,
            "timePicker": true,
            "locale": {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        });

        $(".select2").select2();

        // 發稿設定
        var status = null;
        var publishSetting = function (status) {
            switch (status) {
                case 'DRAFT':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    $('#location').prop('required', false);
                    $('#shortTitle').prop('required', false);
                    break;
                case 'REVIEW':
                    $('.lastReviewer').css('visibility', 'inherit');
                    $('.reservation').css('visibility', 'inherit');
                    $('select[name="LastReviewer"]').prop('disabled', false);
                    $('#reservation-datetimepicker').prop('disabled', false);
                    $('#location').prop('required', true);
                    $('#shortTitle').prop('required', true);
                    break;
                case 'RELEASE':
                    $('.lastReviewer').css('visibility', 'inherit');
                    $('.reservation').css('visibility', 'inherit');
                    $('select[name="LastReviewer"]').prop('disabled', true);
                    $('#reservation-datetimepicker').prop('disabled', false);
                    $('#location').prop('required', true);
                    $('#shortTitle').prop('required', true);
                    break;
                case 'CLOSE':
                    $('.lastReviewer').css('visibility', 'hidden');
                    $('.reservation').css('visibility', 'hidden');
                    $('#location').prop('required', false);
                    $('#shortTitle').prop('required', true);
                    break;
                default:
                    return false;
            }
        };
        publishSetting($('input[name="status"]:checked', '.publish-setting').val());
        $('input[name="status"]', '.publish-setting').on('ifChanged', function(event){
            if (status === $(event.target).val() ) { return false; }
            status = $(this).attr('value');
            publishSetting(status);
        });

        $("#keywords").tagEditor({
            delimiter: ',',
            placeholder: '請用 Enter 或逗號加入關鍵字 ...',
            maxTags: 7,
            forceLowercase: false
        });

        // 沒有圖片或影片只能夠變成草稿
        var isDraft = function () {
            var newsType = $('[name=type]').val();

            // Publish Btn Element
            var drafeBtn = $('#status-draft');
            var reviewBtn = $('#status-review');
            var releaseBtn = $('#status-release');

            var mainPhotoEle = $('input[name=MainPhoto]');
            var mainVideoEle = $('input[name=MainVideo]');
            var manyPhotosEle = $('input[name="Photos[]"]');
            var hasPhoto = mainPhotoEle.val()? mainPhotoEle.val() !== '': false;
            var hasVideo = mainVideoEle.val()? mainVideoEle.val() !== '': false;
            var hasPhotos = manyPhotosEle.val()? manyPhotosEle.val() !== '': false;

            function setBtnDisabled (bool) {
                reviewBtn.prop('disabled', bool);
                releaseBtn.prop('disabled', bool);
                if (bool) {
                    reviewBtn.parents('.radio').addClass('disabled');
                    releaseBtn.parents('.radio').addClass('disabled');
                    return;
                }
                reviewBtn.parents('div').removeClass('disabled');
                releaseBtn.parents('div').removeClass('disabled');

            }

            switch (newsType) {
                case 'NEWS':
                    if (hasPhoto) {
                        setBtnDisabled(false);
                        break;
                    }
                    setBtnDisabled(true);
                    break;
                case 'PHOTO':
                    if (hasPhotos) {
                        setBtnDisabled(false);
                        break;
                    }
                    setBtnDisabled(true);
                    break;
                case 'VIDEO':
                    if (hasVideo) {
                        setBtnDisabled(false);
                        break;
                    }
                    setBtnDisabled(true);
                    break;
            }
        }

        isDraft();

        $('.image-setting-area').on('change', 'input[name=MainPhoto], input[name="Photos[]"]', function() {
            isDraft();
        });
        $('.video-setting-area').on('change', 'input[name=MainVideo]', function() {
            isDraft();
        });

        if ($('select[name=type]').val() !== 'VIDEO') {
            $('.video-setting-area').addClass('hide');
        }


        if ($('select[name=type]').val() === 'PHOTO') {
            $('.mainPhotoEle').addClass('hide');
            $('.manyPhotoEle').removeClass('hide');
        }

        $('select[name=type]').change(function(){
            isDraft();
            if($(this).val() === 'VIDEO') {
                $('.video-setting-area').removeClass('hide');
            } else {
                $('.video-setting-area').addClass('hide');
            }

            if($(this).val() === 'PHOTO') {
                $('.mainPhotoEle').addClass('hide');
                $('.manyPhotoEle').removeClass('hide');
            } else {
                $('.mainPhotoEle').removeClass('hide');
                $('.manyPhotoEle').addClass('hide');
            }
        });

        // 圖片新聞置換功能
        $('.image-preview').on('click', '.delete', function(){
            event.preventDefault();
            $(this).parents('.photo-group').remove();
        });
        $('.image-preview').on('click', '.setManyMainPhoto', function(event){
            event.preventDefault();
            var mainId = $(this).parents('.photo-group').find('input').val();
            $('.image-preview').find('input[name=MainPhoto]').val(mainId);
            $('.image-preview').find('.mainPhotoEle').attr('src', '');
            $('.image-preview').find('.preview-desc').text('');
            $(this).parents('.image-preview').find('.manyMainPhoto').removeClass('manyMainPhoto');
            $(this).parents('.photo-group').addClass('manyMainPhoto');
        });

        // 預覽頁面
        $('#preview-btn').on('click', function(){
            var newsId = $(this).attr('data-newsId');
            var photoList = []
            if ($('.photo-group').length) {
                $('.photo-group').each(function(){
                    photoList.push({
                        url: $(this).css('background-image').split('"')[1],
                        desc: $(this).find('.manyPhotoEleTitle').text()
                    });
                })
            }
            var previewObj = {
                startedAt: $('#reservation-datetimepicker').val(),
                createdAt: $('#reservation-datetimepicker').val(),
                title: $('[name=mainTitle]').val(),
                MainMenu: $('[name=MainMenu] option:selected').text(),
                newsBy: $('[name=newsBy]').val(),
                content: CKEDITOR.instances.contentCk.getData(),
                Tags: $('[name=tags]').val(),
                type: $('[name=type]').val(),
                MainPhotoUrl: $('.image-preview img').attr('src'),
                MainPhotoWidth: 970,
                MainPhotoDesc: $('.image-preview p').text(),
                MainVideoUrl: $('.setMainVideo').length ? $('.setMainVideo').attr('data-url') : null,
                MainVideoDesc: $('#video-preview strong').length ? $('#video-preview strong').text() : null,
                Photos: JSON.stringify(photoList)
            };

            $.post('/news/preview', previewObj, function(data) {
                window.open(data.previewUrl);
            }, 'json');
        });

        // 業務欄位
        if ($('input[name=isSponsored]').prop('checked')) {
            $('.sponsored-setting').removeClass('hide');
        }
        $('input[name=isSponsored]').on('ifChanged', function(){
            if($(this).prop('checked')) {
                $('.sponsored-setting').removeClass('hide');
            } else {
                $('.sponsored-setting').addClass('hide');
            }
        });

        //新聞次分類 可toggle縮放
        $('.newsSecondCat li.multiple').css('display','none');
        $('.newsSecondCat label.optgroup').prepend('<i style="color:#97a0b3; float:left;" class="fa fa-plus"></i>');
        $('.newsSecondCat li.group').on('click',function(e){
            e.preventDefault();
            $(this).find('i.fa').toggleClass('fa-plus fa-minus');
            $(this).nextUntil("li.group").slideToggle();
            $('.newsSecondCat li.ms-no-results').remove();
        });

        // 若改變form的資料後離開頁面 問一下確認離開嗎
        var formData = $("#fileupload").serialize();
        window.onbeforeunload = function(){
        if(formData!==$("#fileupload").serialize()){
            return "你的變更可能不會被儲存。";
            }
        }


    });
</script>

 {% if news.status == 'REVIEW' and not isScheduled %}
    <script>
        //現在時間顯示
        var startedAt = $('#reservation-datetimepicker').val()+':00';
        var showNowTime = function(){
            if($('#isUpdateStatedAt').is(':checked')){
                $('#reservation-datetimepicker').val(moment.tz('Asia/Taipei').format('YYYY-MM-DD HH:mm:ss'));
            }
        };
        var timer = setInterval(showNowTime,1000);
        $('#isUpdateStatedAt').on('ifChecked', function () {
            $('#reservation-datetimepicker').val(moment.tz('Asia/Taipei').format('YYYY-MM-DD HH:mm:ss'));
            timer = setInterval(showNowTime,1000);
        });
        $('#isUpdateStatedAt').on('ifUnchecked', function () {
             clearInterval(timer);
             $('#reservation-datetimepicker').val(startedAt);
         });

    </script>
{% endif %}

{% endblock %}
