{% set title = "編輯新聞" %} {% extends "../base.html" %} {% block headTitle %}
<title>新編採 | {{ title }}</title>
{% endblock %} {% block container %}
<section class="content">
    <form>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">作者: ${Name}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的來源</label>
                            <select class="form-control select2">
                                <option selected="selected">NOWnews</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞主分類</label>
                            <select class="form-control select2">
                                <option selected="selected">娛樂王國</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input name="isAdult" type="checkbox"> 成人新聞
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="isDeliver" type="checkbox"> 不可外送
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的作者</label>
                            <select name="type" class="form-control select2">
                                <option selected="selected">阿發</option>
                                <option>離心力</option>
                                <option>龍哥</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">新聞的類別</label>
                            <select name="type" class="form-control select2">
                                <option selected="selected">一般新聞</option>
                                <option>影音新聞</option>
                                <option>圖片新聞</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="title" class="control-label">長標</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="限制字數為 26">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="shortTitle" class="control-label">短標</label>
                            <input type="text" id="shortTitle" name="shortTitle" class="form-control" placeholder="限制字數為 16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">標題: ${Title}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>首圖</label>
                    <ul class="mailbox-attachments clearfix">
                        <li>
                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                            <div class="mailbox-attachment-info">
                                <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                                <span class="mailbox-attachment-size">
                                    1,245 KB
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="btn btn-default btn-file">
                        <i class="fa fa-paperclip"></i> 上傳檔案
                        <input type="file" name="MainPhoto">
                    </div>
                    <p class="help-block">Max. 32MB</p>
                </div>
                <div class="form-group">
                    <label>內文</label>
                    <textarea id="editor1" class="form-control" name="content" rows="5" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                    <label>自由欄位</label>
                    <textarea id="editor2" class="form-control" name="freeContent" rows="5" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                    <label>追蹤碼</label>
                    <textarea class="form-control" name="traceCode" rows="5" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                    <label>關鍵字</label>
                    <select name="tags" class="form-control select2" multiple="multiple" data-placeholder="選擇關鍵字" style="width: 100%;">
                        <option>達美航空</option>
                        <option>失身酒</option>
                        <option>林志穎</option>
                        <option>伊藤千晃</option>
                        <option>台塑</option>
                        <option>告白</option>
                        <option>蔡英九</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">發稿設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group text-center">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" id="status-draft" value="DRAFT" checked="">
                                    草稿
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" id="status-review" value="REVIEW">
                                    送審
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" id="status-release" value="RELEASE">
                                    發布
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">指定送審人</label>
                            <select name="type" class="form-control select2">
                                <option selected="selected">阿裔</option>
                                <option>龍發</option>
                                <option>麒麟</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">預約發稿</label>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="minimal">
                                立即
                            </label>
                        </div>
                        <div class="form-group">
                            <div class='input-group date'>
                                <input id='datetimepicker1' type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">撰稿備忘錄</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <textarea name="memo" class="form-control" rows="5" placeholder="Enter ..."></textarea>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">注意事項</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <p>存成草稿：會出現個人工作區，只有自己看見。</p>
                <p>存成送審：會出現在新聞列表，並同部門的同事都會看見。</p>
                <p>存成發佈：可在板主管理(新聞)剛剛有貼的版面裡找到，或是在我的新聞裡找的到。</p>
                <p>傳給特定長官或同事：把處理者改成該同事，並把狀態改成"草稿"，這樣才會出現在他的個人工作區裡。</p>
            </div>
        </div>
        <div class="edit-footer text-center">
            <button type="button" class="btn bg-olive btn-flat margin">送出</button>
            <button type="button" class="btn bg-orange btn-flat margin">預覽</button>
            <button type="button" class="btn bg-maroon btn-flat margin">取消</button>
        </div>
    </form>
</section>

{#  style 暫時放這   #}
<!-- Select2 -->
<link rel="stylesheet" href="/static/css/select2.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css" />

{#  script 暫時放這   #}
<!-- Select2 -->
<script src="/static/js/select2/select2.full.min.js"></script>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>

<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');

        $('#datetimepicker1').daterangepicker({
            "singleDatePicker": true,
            "timePicker": true,
            "locale": {
                format: 'MM/DD/YYYY h:mm A'
            }
        });

        $(".select2").select2();
    });
</script>
{% endblock %}