{% set title = "編輯紀錄比較" %}
{% set subtitle = "" %}
{% extends "../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% import "./macro.compare.html" as compare %}

{% block container %}
    <section class="content">
        <div class="box">
            <div class="diff-content box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th>新版編修人</th>
                                <th>舊版編修人</th>
                            </tr>
                            <tr>
                                <td><label class="text-success">{{ after.CreatedBy.name }}</label> 編輯於 {{ after.formatCreatedAt }}
                                </td>
                                <td><label class="text-danger">{{ before.CreatedBy.name }}</label> 編輯於 {{ before.formatCreatedAt }}</td>
                            </tr>
                        </table>
                    </div>

                    {# 共同表頭設定區 #}

                    {{ compare.text('長標', before.title, after.title) }}

                    {{ compare.text('短標', before.shortTitle, after.shortTitle) }}

                    {{ compare.text('作者', before.Author.name, after.Author.name) }}

                    {{ compare.text('新聞類別', NEWS_TYPES[before.type], NEWS_TYPES[after.type]) }}

                    {{ compare.text('主分類', before.MainMenu.name, after.MainMenu.name) }}

                    {{ compare.text('次分類', before.menus, after.menus) }}

                    {{ compare.text('是否為成人', before.isAdult, after.isAdult) }}

                    {{ compare.text('是否可外送', before.isDeliver, after.isDeliver) }}

                    {{ compare.text('是否為業配文', before.isSponsored, after.isSponsored) }}


                    {# 圖片設定上傳區 #}
                    {{ compare.text('主圖', before.MainPhoto.url, after.MainPhoto.url) }}

                    {{ compare.text('主圖圖說', before.MainPhoto.desc, after.MainPhoto.desc) }}


                    {# 文章設定 #}
                    {{ compare.html('內文', 'content', before, after) }}

                    {{ compare.text('關鍵字', before.tags, after.tags) }}

                    {{ compare.text('LBS 地址', before.location, after.location) }}



                    {# 發稿設定 #}
                    {{ compare.text('發稿狀態', NEWS_STATUS[before.status], NEWS_STATUS[after.status]) }}

                    {{ compare.text('發佈時間', before.startedAt, after.startedAt) }}

                    {{ compare.text('最後的新聞審稿者', before.LastReviewer.name, after.LastReviewer.name) }}


                    {# 第一版先隱藏起來 / 其他新聞類別

                        {{ compare.text('新聞主影音', before.MainVideo, after.MainVideo) }}

                        {{ compare.text('新聞主影音', before.Photos, after.Photos) }}

                        {{ compare.text('新聞主影音', before.Videos, after.Videos) }}

                        {{ compare.text('追蹤碼', before.traceCode, after.traceCode) }}

                        {{ compare.html('自由內容', 'freeContent', before, after) }}
                    #}
                </div>
            </div>
            <div class="box-footer text-center">
                <a class="btn btn-info btn-flat" href="/news/{{after._id}}/logs">返回</a>
            </div>
        </div>
    </section>
    <script>

        diffUsingJS('content');

        // 第一版先隱藏起來
        // diffUsingJS('freeContent');

        // 清除空白行 & 套件產生的 header, footer
        $('td.equal').parent('tr').remove();
        $('th.texttitle').parent('tr').remove();
        $('th.author').remove();
    </script>
{% endblock %}




