{% set nativeAd = nativeAds[(noSliderNumber/3)-1].ad %}
{% if nativeAd != null %}
    <div class="news-block">
        <div class="mui-container-fluid">
            <div class="mui-row">
                <a terget="_blank" href="{{ nativeAd.url }}">
                    <div calss="ads-block">
                        <img class="news-main-image" src="{{ nativeAd.img }}"/>
                    </div>
                    <div class="sponser news-info-with-bg">
                        <p class="info-caption" style="margin-top:10px"> Sponsor </p>
                        <p class="info-title">{{ nativeAd.title }}</p>
                        <p class="info-caption text-gray"></p>
                    </div>
                    <div class="line"></div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{#
    廣告邏輯
     - 每三則做由 300x250 以及 320x100 做置換
     - 目前寫死
#}

{% if noSliderNumber % 2 == 0 %}
    {% if noSliderNumber == 3 * 2 %}
        {% include "../ad/list/ad320x100_1.html" %}
    {% elif noSliderNumber == 3 * 4 %}
        {% include "../ad/list/ad320x100_2.html" %}
    {% endif %}
{% else %}
    {% if noSliderNumber == 3 * 1 %}
        {% include "../ad/list/ad300x250_1.html" %}
    {% elif noSliderNumber == 3 * 3 %}
        {% include "../ad/list/ad300x250_2.html" %}
    {% elif noSliderNumber == 3 * 5 %}
        {% include "../ad/list/ad300x250_3.html" %}
    {% elif noSliderNumber == 3 * 7 %}
        {% include "../ad/list/ad300x250_4.html" %}
    {% elif noSliderNumber == 3 * 9 %}
        {% include "../ad/list/ad300x250_5.html" %}
    {% elif noSliderNumber == 3 * 11 %}
        {% include "../ad/list/ad300x250_6.html" %}
    {% elif noSliderNumber == 3 * 13 %}
        {% include "../ad/list/ad300x250_7.html" %}
    {% endif %}
{% endif %}
