
<div class="video-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="shadow-photo">
                <a terget="_blank" href="{{ nativeAds.url() }}">
                    <div calss="ads-block">
                        <img class="video-main-image" src="{{ nativeAds.img() }}"/>
                    </div>
                    <div class="sponser shadow-photo-info">
                        <p class="info-caption info-gray"> Sponsor </p>
                        <p class="info-title">{{ nativeAds.title() }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


{% if loop.index % 2 == 0 %}
    {% if noSliderNumber == 3 * 2 %}
        {% include "../ad/list/ad320x100_1.html" %}
    {% elif noSliderNumber == 3 * 4 %}
        {% include "../ad/list/ad320x100_2.html" %}
    {% endif %}
{% else %}
    {% if noSliderNumber == 3 * 1 %}
        {% include "../ad/list/ad300x250_1.html" %}
    {% elif noSliderNumber == 3 * 3 %}
        {% include "../ad/list/ad300x250_2.html" %}
    {% elif noSliderNumber == 3 * 5 %}
        {% include "../ad/list/ad300x250_3.html" %}
    {% elif noSliderNumber == 3 * 7 %}
        {% include "../ad/list/ad300x250_4.html" %}
    {% elif noSliderNumber == 3 * 9 %}
        {% include "../ad/list/ad300x250_5.html" %}
    {% elif noSliderNumber == 3 * 11 %}
        {% include "../ad/list/ad300x250_6.html" %}
    {% elif noSliderNumber == 3 * 13 %}
        {% include "../ad/list/ad300x250_7.html" %}
    {% endif %}
{% endif %}
