<table id="center-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="th-group">中心</th>
            <th width="15%">中心</th>
            <th>部門/組別</th>
        </tr>
    </thead>
    <tbody>
        {% for center in centerList %}
            {% if center.Departments.length == 0 %}
                 <tr>
                    <td>
                        <a href="/auth/center/{{center._id}}">
                            {{ center.name }}
                        </a>
                    </td>
                    <td>-</td>
                    <td><span class="text-danger">待新增</span></td>
                </tr>
            {% endif %}
            {% for department in center.Departments %}
                <tr>
                    <td>
                        <a href="/auth/center/{{center._id}}">
                            {{ center.name }}
                        </a>
                    </td>
                    <td>-</td>
                    <td>{{ department.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>中心</th>
            <th>中心</th>
            <th>部門/組別</th>
        </tr>
    </tfoot>
</table>
