{% set title = "編輯中心" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    {% include "../department/modal.create.html" %}
    <section class="content">
        <div class="box">
            <form action="/auth/center/{{center.id}}" method="post">
                <div class="box-body">
                    <input type="hidden" name="id" value="{{center.id}}">
                    <input type="hidden" name="_method" value="put">
                    {% include "./block.form.html" %}
                    <hr />
                    <label>部門/組別</label>
                    <button type="button"
                        data-toggle="modal"
                        data-target="#create-departemnt">
                        +
                    </button>
                    <ul>
                        {%- for department in center.Departments %}
                            <li>{{ department.name }}</li>
                        {%- endfor %}
                    </ul>
                </div>
                <div class="box-footer">
                    <a href="/auth/center" class="btn btn-default">
                        返回
                    </a>
                    <button type="submit" class="btn btn-primary">
                        送出
                    </button>
                    <button id="delete-center"
                        type="button"
                        class="btn btn-danger">
                        刪除
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
