{% extends "../base.html" %}
{% from "../util/form-user-record.html" import formUserRecord %}

{% block headTitle %}
    <title>大編輯台 | 專題管理</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="form-group col-md-2">
                        <a class="btn btn-success" href="/specialchannel/create">新增特輯</a>
                    </div>
                </div>
                {# include "./block.query-form.html" #}
                {% include "./block.table.html" %}
            </div>
            {#
            <div class="box-body dataTables_wrapper">
                {% include "../util/pagination.html" %}
            </div>
            #}
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $('#specialchannel-table').DataTable({
                "paging": false,
                "searching": false,
            });
        });

        $('.delete-specialchannel').on('click', function(){
            var confirmed = confirm('您確定要刪除嗎？');
            if (!confirmed) { return; }
            var id = $(this).attr('item-id');
            $.ajax({
                url: '/specialchannel/' + id,
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}
