{% set action = {
    "get": "讀取",
    "post": "新增",
    "put": "修改",
    "delete": "刪除"
}%}

<div class="form-group">
    <label>角色名稱
        <span class="text-danger">*</span>
    </label>
    <input class="form-control"
        name="name"
        required
        type="text"
        value="{{ role.name }}" />
</div>
<div class="form-group">
    <label>描述</label>
    <input class="form-control"
        name="desc"
        type="text"
        value="{{ role.desc }}" />
</div>
<div class="form-group">
    <label>權限設定
        <span class="text-danger">*</span>
    </label>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>名稱</th>
                <th>動作</th>
            </tr>
        </thead>
        <tbody>
            {% for menuPolicy in defaultPolicies %}
                <tr>
                    <td width="15%">{{ menuPolicy._id }}</td>
                    <td>
                        {% for policy in menuPolicy.policies %}
                            <label>
                                <input
                                    {{ checkedPolicies[policy._id] }}
                                    type="checkbox"
                                    name="Policies"
                                    value="{{policy._id}}" />
                                {{ action[policy.method] }}
                            </label>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
