{% from "../../util/form-user-record.html" import formUserRecord %}
{% set title = "編輯角色" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <form action="/auth/role/{{role._id}}" class="role-form" method="post">
                <div class="box-body">
                    <input type="hidden" name="id" value="{{role._id}}">
                    <input type="hidden" name="_method" value="put">
                    {% include "./block.form.html" %}
                    {{ formUserRecord(role) }}
                </div>
                <div class="box-footer text-center">
                    <a href="/auth/role" class="btn btn-flat btn-default">
                        返回
                    </a>
                    <button type="submit" class="btn btn-flat bg-olive">
                        送出
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
