<table id="statistics-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>使用者名稱</th>
            <th>新聞總數</th>
            <th>PageView總數</th>
            <th>平均PageView</th>
        </tr>
    </thead>
    <tbody>
        {% for value in center.users %}
            <tr>
                <td>
                    <a href="/statistics/users/{{ value.userId }}?startedAt={{ query.startedAt }}&endedAt={{ query.endedAt }}" target="_blank">
                    {{ value.name}}
                    </a>
                </td>
                <td>
                    {{ value.newsTotal }}
                </td>
                <td>{{ value.pvTotal }}</td>
                <td>{{ value.pvAverage }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>總計</th>
            <th>{{ center.newsTotal }}</th>
            <th>{{ center.todayTotal }}</th>
            <th></th>
        </tr>
    </tfoot>
</table>
