<table id="statistics-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>中心名稱</th>
            <th>新聞總數</th>
            <th>PageView總數</th>
        </tr>
    </thead>
    <tbody>
        {% for value in departments %}
            <tr>
                <td>
                    <a href="/statistics/departments/{{ value.departmentId }}">
                        {{ value.name }}
                    </a>
                </td>
                <td>
                    {{ value.newstotal }}
                </td>
                <td>{{ value.pvTotal }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>中心名稱</th>
            <th>新聞總數</th>
            <th>PageView總數</th>
        </tr>
    </tfoot>
</table>
