<table id="statistics-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>新聞名稱</th>
            <th>狀態</th>
            <th>PageView總數</th>
            <th>新聞發佈時間</th>
        </tr>
    </thead>
    <tbody>
        {% for value in user.userNewsList %}
            <tr>
                <td>
                    <a href="http://www.nownews.com{{ value.url }}" target="_blank">
                        {{ value.title }}
                    </a>
                </td>
                <td>{{ NEWS_STATUS[value.status] }}</td>
                <td>{{ value.pvTotal }}</td>
                <td>{{ value.startedAt }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>總計</th>
            <th></th>
            <th>{{ user.todayTotal }}</th>
            <th></th>
        </tr>
    </tfoot>
</table>
