<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>姓名
                <span class="text-danger">*</span>
            </label>
            <input class="form-control"
                name="name"
                required
                type="text"
                value="{{ user.name }}" />
        </div>
        <div class="form-group">
            <label>員工編號</label>
            <input class="form-control"
                name="staffId"
                type="text"
                placeholder="NNxxxxx"
                value="{{ user.staffId }}" />
        </div>
        <div class="form-group">
            <label>中心部門</label>
            <input name="Center" type="hidden" value="{{ user.Center._id }}"/>
            <input name="Department" type="hidden" value="{{ user.Department._id }}"/>
            <select class="form-control"
                id="center-and-dept"
                name="centerAndDept">
                <option value="">請選擇</option>
                {% for center in centerList %}
                    <optgroup id="{{ center._id }}" label="{{ center.name }}">
                        {% for department in center.Departments %}
                            <option value="{{ department._id }}"
                            {{ "selected" if department._id == user.Department._id }} >
                                {{ department.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>信箱
                <span class="text-danger">*</span>
            </label>
            <input class="form-control"
                name="email"
                required
                type="email"
                value="{{ user.email }}" />
        </div>
        <div class="form-group">
            <label>電話
            </label>
            <input class="form-control"
                name="phone"
                type="text"
                value="{{ user.phone }}" />
        </div>
        <div class="form-group">
            <label>個人網站連結</label>
            <input class="form-control"
                name="profileLink"
                type="text"
                value="{{ user.profileLink }}" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>暱稱</label>
            <input class="form-control"
                name="nickname"
                type="text"
                value="{{ user.nickname }}" />
        </div>
        {% if not user %}
            <div class="form-group">
                <label> 密碼
                    <span class="text-danger">*</span>
                </label>
                <input class="form-control"
                    required
                    name="password"
                    type="password" />
            </div>
        {% endif %}
        <div class="form-group">
            <label>員工狀態
                <span class="text-danger">*</span>
            </label>
            <select class="form-control"
                name="status"
                required>
                {% for key, status in USER_STATUS %}
                    <option value="{{key}}"
                        {{ "selected" if key == user.status }}>
                        {{ status }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>角色
                <span class="text-danger">*</span>
            </label>
            <select class="form-control"
                name="Role"
                required>
                {% for role in roleList %}
                    <option value="{{ role._id }}"
                        {{ "selected" if role._id == user.Role._id }}>
                        {{ role.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>職稱</label>
            <input class="form-control"
                name="jobTitle"
                type="text"
                value="{{ user.jobTitle }}" />
        </div>
        <div class="form-group">
            <label> 個人大頭貼
            </label>
            <input class="form-control"
                name="Avatar"
                type="text"
                value="{{ user.Avatar }}" />
        </div>
    </div>
</div>

