<table id="user-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>員編</th>
            <th>姓名(暱稱)</th>
            <th>部門中心</th>
            <th>狀態</th>
            <th>信箱</th>
            <th>電話</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
        {%- for user in userList %}
            <tr>
                <td>{{ user.staffId }}</td>
                <td>{{ user.name }}({{ user.nickname }})</td>
                <td>{{ 'XX部門' }} - {{ 'XX中心' }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a class="btn btn-info" href="/auth/user/{{user.id}}">
                        編輯
                    </a>
                </td>
                <td>
                    <input type="hidden" name="id" value="{{user.id}}">
                    <button class="btn btn-danger delete-user">移除</button>
                </td>
            </tr>
        {%- endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>員編</th>
            <th>姓名(暱稱)</th>
            <th>部門中心</th>
            <th>狀態</th>
            <th>信箱</th>
            <th>電話</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </tfoot>
</table>
