<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-aqua-active">
        <div class="widget-user-image">
            <img class="img-circle" src="{{ user.Avatar.url }}" alt="使用者圖片">
        </div>
        <h3 class="widget-user-username">{{ user.name }}</h3>
        <h5 class="widget-user-desc">{{ USER_STATUS[user.status] }} / {{ user.Role.name }}</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>員工編號</label>
            <p>{{ user.staffId }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>中心部門</label>
            <p>{{ user.Center.name }}-{{ user.Department.name }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>信箱
                <span class="text-danger">*</span>
            </label>
            <p>{{ user.email }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>密碼</label>
            <input class="form-control"
                name="password"
                type="text" />
        </div>
        <div class="form-group">
            <label>電話
            </label>
            <input class="form-control"
                name="phone"
                type="text"
                value="{{ user.phone }}" />
        </div>
        <div class="form-group">
            <label>個人網站連結</label>
            <input class="form-control"
                name="profileLink"
                type="url"
                value="{{ user.profileLink }}" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>預設主分類
                <span class="text-danger">*</span>
            </label>
            <select class="form-control"
                name="defaultMenu">
                <option value="">請選擇</option>
                {% for menu in menuList %}
                    <option value="{{ menu._id }}"
                        {{ "selected" if menu._id == user.defaultSettings.Menu }}>
                        {{ menu.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>暱稱</label>
            <input class="form-control"
                name="nickname"
                type="text"
                value="{{ user.nickname }}" />
        </div>
        <div class="form-group">
            <label>職稱</label>
            <input class="form-control"
                name="jobTitle"
                type="text"
                value="{{ user.jobTitle }}" />
        </div>

    </div>
</div>
