<table id="user-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>員編</th>
            <th>姓名</th>
            <th>部門中心</th>
            <th>角色</th>
            <th>狀態</th>
            <th>信箱</th>
            <th>建立日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
        {% for user in userList %}
            <tr>
                <td>{{ user.staffId }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.Department.name }} - {{ user.Center.name }}</td>
                <td>{{ user.Role.name }}</td>
                <td>{{ USER_STATUS[user.status] }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.formatCreatedAt }}</td>
                <td>
                    <a class="btn btn-flat btn-info" href="/auth/user/{{user._id}}">
                        編輯
                    </a>
                </td>
                <td>
                    <input type="hidden" name="id" value="{{user._id}}">
                    <button class="btn btn-flat btn-danger delete-user">移除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>員編</th>
            <th>姓名</th>
            <th>部門中心</th>
            <th>角色</th>
            <th>狀態</th>
            <th>信箱</th>
            <th>建立日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </tfoot>
</table>

