<form action="/auth/user" method="get">
    <div class="row">
        <div class="form-group  col-md-2">
            <select class="form-control" id="dept-and-center" name="Center">
                <option value="">部門中心</option>
                {% for department in departmentList %}
                    <optgroup id="{{ department._id }}" label="{{ department.name }}">
                        {% for center in department.Centers %}
                            <option value="{{ center._id }}"
                            {{ "selected" if center._id == query.Center }} >
                                {{ center.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" name="Role">
                <option value="">角色</option>
                {% for role in roleList %}
                    <option value="{{ role._id }}"
                        {{ "selected" if role._id == query.Role }}>
                        {{ role.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <select class="form-control" name="status">
                <option value="">狀態</option>
                {% for key, status in USER_STATUS %}
                    <option value="{{key}}"
                        {{ "selected" if key == query.status }}>
                        {{ status }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <input class="form-control"
                name="name"
                placeholder="關鍵字：姓名"
                type="text"
                value="{{ query.name }}" />
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-default btn-flat" type="submit">查詢</button>
        </div>
    </div>
</form>
