{% set title = "使用者" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="form-group col-md-2">
                        <a class="btn btn-success btn-flat" href="/auth/user/create">新增使用者</a>
                    </div>
                </div>
                {% include "./block.query-form.html" %}
            </div>
            <div class="box-body dataTables_wrapper">
                {% include "./block.table.html" %}
                {% include "../../util/pagination.html" %}
            </div>
        </div>
    </section>
{% endblock %}
