{% set title = "新增使用者" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <form action="/auth/user/create" method="post" class="user-form">
                <div class="box-body">
                    {% include "./block.form.html" %}
                </div>
                <div class="box-footer text-center">
                    <a href="/auth/user" class="btn btn-flat btn-default">
                        返回
                    </a>
                    <button type="submit" class="btn btn-flat bg-olive">
                        送出
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
