{% from "../../util/form-user-record.html" import formUserRecord %}
{% set title = "編輯使用者" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <form action="/auth/user/{{user._id}}" method="post">
                <div class="box-body">
                    <input type="hidden" name="id" value="{{user._id}}">
                    <input type="hidden" name="_method" value="put">
                    {% include "./block.form.html" %}
                    {{ formUserRecord(user) }}
                </div>
                <div class="box-footer">
                    <a href="/auth/user" class="btn btn-default">
                        返回
                    </a>
                    <button type="submit" class="btn btn-primary">
                        送出
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
