<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>建立者</label>
            <input class="form-control"
                type="text"
                disabled
                value="{{ formRecord.CreatedBy.name }}" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>建立日期</label>
            <input class="form-control"
                type="text"
                disabled
                value="{{ formRecord.formatCreatedAt }}" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>最後更新者</label>
            <input class="form-control"
                type="text"
                disabled
                value="{{ formRecord.UpdatedBy.name }}" />
        </div>
    </div>
    <div class="col-md-3">
            <div class="form-group">
            <label>最後更新日期</label>
            <input class="form-control"
                type="text"
                disabled
                value="{{ formRecord.formatUpdatedAt }}" />
        </div>
    </div>
</div>
