<div class="freeBody2">
    <ul>
        <li>
            <a href="http://goo.gl/C8QriH" target="_blank">
                <img src="/static/img/link_icon-vote.png">
                <span>投票去</span>
            </a>
        </li>
        <li>
            <a href="https://goo.gl/AWVNkD" target="_blank">
                <img src="/static/img/link_icon-android.png">
                <span>Android APP</span>
            </a>
        </li>
        <li>
            <a href="https://goo.gl/M49ADW" target="_blank">
                <img src="/static/img/link_icon-ios.png">
                <span>IOS APP</span>
            </a>
        </li>
        <li>
            <a href="http://legacy.nownews.com/events/adtips/mobile_app/NowNews_Mobile.apk" target="_blank">
                <img src="/static/img/link_icon-apk.png">
                <span>大陸地區下載 APK 安裝</span>
            </a>
        </li>
    </ul>
</div>
