<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="content-language" content="zh-Hant-TW">
<link rel="shortcut icon" type="image/png" href="http://www.nownews.com/favicon.ico"/>
{# google console 的驗證 #}
<meta name="google-site-verification" content="IpBBA_rIUzM0_7nqKskLksd7Rg-aFVbhQyD7DKZT-Ac" />
{# bing 的驗證 #}
<meta name="msvalidate.01" content="7DF3B2A5043A67F23AA735D7F9D15B65" />
