<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">系統選單</li>
            {% for key, value in adminMenu %}
                {% if value.children %}
                    <li class="treeview {{ 'active' if value.status }}">
                        <a href="#"><i class="fa {{value.icon}}"></i> <span>{{value.name}}</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{value.url}}">列表</a></li>
                            {% for children in value.children %}
                                <li><a href="{{children.url}}">{{children.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="{{ 'active' if value.status }}"><a href="{{value.url}}"><i class="fa {{value.icon}}"></i> <span>{{value.name}}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
