<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">系統選單</li>
            <!-- Optionally, you can add icons to the links -->
            <!--<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>-->
            <!--<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
            <!--<li class="treeview">
                <a href="#"><i class="fa fa-dashboard"></i> <span>控制台</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/dashboard">列表</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>-->
            <li class="active"><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>控制台</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span>新聞</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/news/dailyPlanList">每日稿單</a></li>
                    <li><a href="/news/myList">我的新聞</a></li>
                    <li><a href="/news/create">新增新聞</a></li>
                    <li><a href="/news/reviewList">待審新聞</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-object-ungroup"></i> <span>版面調整</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-file-image-o"></i> <span>圖片</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/picture">列表</a></li>
                    <li><a href="#">新增圖片</a></li>
                    <li><a href="#">新增圖輯</a></li>
                    <li><a href="#">圖片庫</a></li>
                    <li><a href="#">圖輯庫</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-file-video-o"></i> <span>影片</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/video">列表</a></li>
                    <li><a href="#">新增影片</a></li>
                    <li><a href="#">新增影集</a></li>
                    <li><a href="#">影片庫</a></li>
                    <li><a href="#">影集庫</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-heartbeat"></i> <span>統計</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/analysis">列表</a></li>
                    <li><a href="#">新聞瀏覽量</a></li>
                    <li><a href="#">則數管理</a></li>
                    <li><a href="#">統計稿數</a></li>
                    <li><a href="#">點閱率</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-group"></i> <span>版主</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/moderator">列表</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-calendar-check-o"></i> <span>選單設定</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/menu">列表</a></li>
                    <li><a href="#">上選單</a></li>
                    <li><a href="#">左選單</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-user"></i> <span>會員</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
