<nav id="menu-nav" class="mui--hide">
    <div class="mui--appbar-height"></div>
    <div id="menu-nav-wrapper" class="mui-container">
        <div class="menu-nav-item">
            <a href="/">新聞</a>
        </div>
        <div class="menu-nav-item">
            <a href="/photo">圖輯</a>
        </div>
        <div class="menu-nav-item">
            <a href="/video">影音</a>
        </div>
        <div class="menu-nav-item">
            <a href="/news/channel?isOpen=true">特輯</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://huasons.nownews.com/" target="_blank">花生網</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://beauty.nownews.com/" target="_blank">美人幫</a>
        </div>
        <div class="menu-nav-item">
            <a href="http://vote.nownews.com/" target="_blank">議題票選</a>
        </div>
        <div class="menu-nav-item">
            <a href="/about">關於 NOWnews</a>
        </div>
        <div id="menu-social-link" class="social-link">
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25682851'></div>
        </div>
    <div>
</nav>
