<div class="video-block">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="shadow-photo">
                <a href="/video/{{ video.nodeId }}">
                    <img class="icon-play-circle" src="/static/img/play-icon.png">
                    <div class="shadow-photo-info">
                        <p class="info-title">{{ video.title }}</p>
                        <p class="info-caption">{{ video.createdAt }}</p>
                    </div>
                    <img class="video-main-image" src="{{ video.youtubeThumbnail}}" />
                </a>
            </div>
        </div>
    </div>
</div>
