<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">注意事項</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <p>存成草稿：會出現個人工作區，只有自己看見。</p>
        <p>存成送審：會出現在新聞列表，並同中心的同事都會看見。</p>
        <p>存成發佈：可在板主管理(新聞)剛剛有貼的版面裡找到，或是在我的新聞裡找的到。</p>
        <p>傳給特定長官或同事：把處理者改成該同事，並把狀態改成"草稿"，這樣才會出現在他的個人工作區裡。</p>
    </div>
</div>
<div class="edit-footer text-center">
    <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
    <button type="button" class="btn bg-orange btn-flat margin">預覽</button>
    <a href="/news/myList" class="btn bg-maroon btn-flat margin">取消</a>
</div>
