<div class="box image-setting-area">
    <div class="box-header with-border">
        <h3 class="box-title">圖片設定上傳區</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-collapse" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label>
                <span class="mainPhotoEle">主圖</span>
                <span class="manyPhotoEle hide">圖片集</span>
                <span class="text-danger">*</span>
            </label>
            <div class="image-preview">
                <input type="hidden" name="MainPhoto" value="{{photo._id}}" />
                <div>
                     <small class="label label-warning mainPhoto canNotDeliver">
                        {% if photo.isDeliver %}
                            <i class="fa fa-bin"></i>可外送
                        {% else %}
                            <i class="fa fa-bin"></i>不可外送
                        {% endif %}
                    </small>
                </div>
                <div class="mainPhotoWrapper">
                      <img class="image mainPhotoEle" name="MainPhoto" src="{{photo.url}}" />
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" name="main-photo" value="{{photo._id}}" />
                        <p class="preview-desc mainPhotoDescEle">{{photo.desc}}</p>
                        <textarea class="main-photo-desc-textarea hide">{{photo.desc}}</textarea>
                    </div>
                    <div class="col-sm-12 main-photo-edit-area hide">
                        <i class="fa fa-pencil-square-o btn btn-success edit-main-photo-desc">編輯</i>
                        <i class="fa fa-save btn btn-primary save-main-photo-desc hide">儲存</i>
                    </div>
                </div>


                {% for p in photos %}
                    <div class="pull-left img-thumbnail photo-group manyPhotoEle {{ 'manyMainPhoto' if p._id == photo._id }}" style="background-image: url({{ p.url }});">
                        <a class="setIndex" href="#" data-index="{{ loop.index }}">主</a>
                        <div class="text-right">
                            <a class="label label-primary previewImg" target="_blank" href="{{ p.url }}"><i class="fa fa-eye"></i></a>
                            <a class="label bg-purple setManyMainPhoto" href="#">設為主圖</a>
                            <a class="label label-danger delete" href="#"><i class="fa fa-times"></i></a>
                        </div>
                        <p class="manyPhotoEleTitle">{{ p.desc }}</p>
                        <input type="hidden" name="Photos[]" value="{{ p._id }}">
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            {% include '../../util/fileupload.html' %}
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        var mainPhotoEle = $('input[name=MainPhoto]');
        if(mainPhotoEle.val() !== ''){ //新增新聞時不顯示編輯主圖功能
            $('div.main-photo-edit-area').removeClass('hide');
            $('.edit-main-photo-desc').on('click',function(){
                $(this).addClass('hide');
                $('.mainPhotoDescEle').addClass('hide');
                $('.main-photo-desc-textarea').removeClass('hide');
                $('.save-main-photo-desc').removeClass('hide');
            });

            $('.save-main-photo-desc').on('click',function(){
                var mainPhotoDesc = $('.mainPhotoDescEle').first().text();
                var newMainPhotoDesc = $('.main-photo-desc-textarea').first().val();
                var mainPhotoId = $ ('input[name=main-photo]').val();

                if (mainPhotoDesc !== newMainPhotoDesc) {
                    $.ajax({
                        url: '/image/' + mainPhotoId + '/clone',
                        data: { desc: newMainPhotoDesc },
                        method: 'POST'
                    }).done(function(result) {
                        var mainPhotoEle = $('input[name=MainPhoto]');
                        mainPhotoEle.val(result._id);
                        $('.mainPhotoDescEle').first().text(newMainPhotoDesc);
                    }).fail(function() {
                        alert('主圖圖說更新失敗！');
                    }).complete(function(){
                        $('.save-main-photo-desc').addClass('hide');
                        $('.main-photo-desc-textarea').addClass('hide');
                        $('.mainPhotoDescEle').removeClass('hide');
                        $('.edit-main-photo-desc').removeClass('hide');
                    });
                }else{
                    alert('沒有更新');
                    $(this).addClass('hide');
                    $('.main-photo-desc-textarea').addClass('hide');
                    $('.mainPhotoDescEle').removeClass('hide');
                    $('.edit-main-photo-desc').removeClass('hide');
                }
            });
        }
    });
</script>
