<div class="box image-setting-area">
    <div class="box-header with-border">
        <h3 class="box-title">圖片設定上傳區</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-collapse" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label>
                <span class="mainPhotoEle">主圖</span>
                <span class="manyPhotoEle hide">圖片集</span>
                <span class="text-danger">*</span>
            </label>
            <div class="image-preview">
                <input type="hidden" name="MainPhoto" value="{{photo._id}}" />
                <img class="image mainPhotoEle" name="MainPhoto" src="{{photo.url}}" />
                <p class="preview-desc mainPhotoEle">{{photo.desc}}</p>
                {% for p in photos %}
                    <div class="pull-left img-thumbnail photo-group manyPhotoEle" style="background-image: url({{ p.url }});" onclick="window.open('{{ p.url }}', '_blank')">
                        <p>{{ p.desc }}</p>
                        <input type="hidden" name="Photos[]" value="{{ p._id }}">
                    </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            {% include '../../util/fileupload.html' %}
        </div>
    </div>
</div>
