<div class="mui--text-center ads-block" style="margin: 20px auto 20px;">
    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/mb_upiframe_300', [300, 250], 'div-gpt-ad-1474356645265-0').addService(googletag.pubads()).setCollapseEmptyDiv(true, true);
            googletag.pubads().enableSingleRequest();
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/mb_upiframe_300 -->
    <div id='div-gpt-ad-1474356645265-0' style='height:250px; width:300px;'>
        <script>
            googletag.cmd.push(function() {
                googletag.display('div-gpt-ad-1474356645265-0');
            });
        </script>
    </div>
</div>
