<!-- {% set ad320x100 = "http://lorempixel.com/320/100/technics/" %} -->
{% set ad320x100 = "https://placehold.it/320x100" %}
<div class="mui--text-center ads-block" style="margin: 20px 0;">
    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/Mobile_list_320x100_B', [320, 100], 'div-gpt-ad-1472444930230-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/Mobile_list_320x100_B -->
    <div id='div-gpt-ad-1472444930230-0' style='height:100px; width:320px;'>
        <script>
            googletag.cmd.push(function() {
                googletag.display('div-gpt-ad-1472444930230-0');
            });
        </script>
    </div>
</div>
