{% extends "../base.html" %}
{% block container %}

<div id="content-wrapper">
    <div class="nownews-wrapper">
        <div class="mui-container-fluid">
            <h2 class="mui--text-headline mui--text-center">關於我們</h2>
            <p class="mui--text-subhead mui--text-center">《NOWnews今日新聞》</p>
            <p class="about-content">
                由今日傳媒股份有限公司經營，為台灣網路媒體。每日產製逾4百則以上新聞，內容包含政經、生活、運動、娛樂、國際等軟硬性新聞，屬綜合性的網路新聞網站，新聞內容提供五大新聞網站和四大電信業者，包括YAHOO奇摩、MSN、Hinet、台灣新浪、華視和中華電信、遠傳、台灣大哥大等。 根據Alexa統計2016年05月09日網站排名，《NOWnews今日新聞》目前是台灣第13名網站。 NOWnews今日新聞除了擁有獨立的編採團隊外，並具備影音多媒體內容數位轉製，傳送各類通路平台（從網際網路到平面及行動通訊）的專業技術與能力。因此，除了深耕新聞領域，也積極與各家平面、電子、網路媒體業者進行多方合作。 WEnews為全國最大的公民新聞平台，自2008年底上線迄今，已累積超過六千位公民記者，報導範圍遍布全台各角落。任何使用者不需註冊，就可以立即發布新聞、相片。一經獲得NOWnews的採用，還有機會可以發布到各大入口網站，影響力無遠弗屆。
            </p>
            <div class="timeline">
                {% for timeline in timelines %}
                <div class="timeline-row mui-row">
                    <div class="mui-col-xs-5">
                        <img src="/static/img/timeline-circle.jpg" alt="">
                    </div>
                    <div class="mui-col-xs-7">
                        <p class="mui--text-title">{{ timeline.date }}</p>
                        <p>{{ timeline.event }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
