 <div class="box publish-setting">
    <div class="box-header with-border">
        <h3 class="box-title">
            發稿設定
            <span class="text-danger">*</span>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group text-center">
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" id="status-draft" value="DRAFT" checked="">
                            草稿
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="status" id="status-review" value="REVIEW" disabled>
                            送審
                        </label>
                    </div>
                    <!--<div class="radio">
                        <label>
                            <input type="radio" name="status" id="status-release" value="RELEASE">
                            發布
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="status" id="status-close" value="CLOSE">
                            關閉
                        </label>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group lastReviewer">
                    <label class="control-label"><span class="text-danger">*</span>指定送審人</label>
                    <select name="LastReviewer" class="form-control select2">
                        <option value=""></option>
                        {% for user in reviewers %}
                                <option value="{{ user._id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group reservation">
                    <label class="control-label">發布時間</label>
                    <div class='input-group date'>
                        <input id="reservation-datetimepicker" name="startedAt" type='text' class="form-control input" />
                        <label for="reservation-datetimepicker" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
