<div id="main">
    <form>
        <select class="remote-loading" style="width: 30%">
            <option disabled selected>Name</option>
        </select>
    </form>
</div>
<style>
#main {
    padding: 10px;
}

form {
    padding: 10px;
}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<script>
//進行ajax要選單資料
$(".remote-loading").select2({
    ajax: {
        url: "http://localhost:10000/menus/struction",
        processResults: function(data) {
            var results = []
            data.forEach(function(i) {
                results.push({
                    id: i._id,
                    text: i.name,
                })
            });
            return {
                results: results
            }
        },
        delay: 1000,
    },
});
//選擇時拿出選到的值
$(".remote-loading").on("select2:select", function(e) {
    var select_val = $(e.currentTarget).val();
    console.log(select_val);

    $.ajax({
        type: "GET",
        url: "/priority/getnews",
        data: {menuId:select_val} ,
        success: function(data) {
            console.log(data);
            $('#tags-table > tbody > tr').remove();
            if(data.length>0){
                for(var i = 0; i <= data.length; i++){
                    var title = data[i].shortTitle;
                    var status = data[i].status;
                    console.log(title);
                    var totalScore = data[i].totalScore;
                    $('#tags-table > tbody').append('<tr><td>'+ title +'</td><td>'+totalScore+'</td><td>'+status+'</td><td><input type="text" name="scores" class="input form-control" required=""></td><td><div class="form-group col-md-2"><a class="btn btn-success" href="/tags/create">更新</a></div></td></tr>');

                }
            }else{
                console.log(123);
            }
        }
    });
});



</script>
