<table id="tags-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>建立時間</th>
            <th>標題</th>
            <th>PV</th>
            <th>版面值</th>
            <th>更新</th>
        </tr>
    </thead>
    <tbody>
        {% for value in data %}
            <tr>
                <td>{{ value.createdAt }}</td>
                <td>{{ value.title }}</td>
                <td>{{ value.originalPageviews }}</td>
                <td>
                    <input type="text" name="weightedScore" class="input form-control" value="{{ value.weightedScore }}">
                </td>
                <td class="text-center">
                    <button class="btn btn-success update-priority" newsId="{{ value._id }}">更新</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>建立時間</th>
            <th>標題</th>
            <th>PV</th>
            <th>版面值</th>
            <th>更新</th>
        </tr>
    </tfoot>
</table>
<script>
</script>
