{% from "../../util/form-user-record.html" import formUserRecord %}
{% set title = "個人設定" %}
{% extends "../../base.html" %}
{% block headTitle %}
    <title>新編採 | {{ title }}</title>
{% endblock %}

{% block container %}
    <section class="content">
        <div class="box">
            <form action="/auth/me" method="post">
                <div class="box-body">
                    <input type="hidden" name="_method" value="put">
                    {% include "./block.form.html" %}
                </div>
                <div class="box-footer text-center">
                    <button type="submit" class="btn bg-olive btn-flat margin">送出</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
