<!--for base meta -->
<title>{{ news.title }} | {{ news.category.name }} | NOWnews今日新聞</title>
<meta name="description" content="{{ news.summary }}" />
<meta name="keywords" content="{{ news.keywords }}">

<!-- for facebook use2-->
<meta property="og:url" content="{{ news.jsonld.mainEntityOfPage.id }}">
<meta property="og:title" content="{{ news.title }} | NOWnews今日新聞">
<meta property="og:description" content="{{ news.summary }}">
<meta property="og:image" content="{{ news.image.thumbnail }}">
<meta property="og:image" content="{{ news.image.originImage }}">

<!-- for Google plus use -->
<meta itemprop="url" content="{{ news.jsonld.mainEntityOfPage.id }}">
<meta itemprop="name" content="{{ news.title }} | NOWnews今日新聞">
<meta itemprop="description" content="{{ news.summary }}">
<meta itemprop="image" content="{{ news.image.thumbnail }}">
<meta itemprop="keywords" content="{{ news.keywords }}">
<meta itemprop="articleSection" content="{{ news.category.name }}">
<meta itemprop="dateCreated" content="{{ news.createdAt }}">
<meta itemprop="dateModified" content="{{ news.updatedAt }}">
<meta itemprop="datePublished" content="{{ news.createdAt }}">
<link rel="canonical" href="{{ news.jsonld.mainEntityOfPage.id }}">
