<!--for base meta -->
<title>{{ channelName }} | NOWnews今日新聞</title>
<meta name="description" content="" />
<meta name="keywords" content="">

<!-- for facebook use2-->
<meta property="og:url" content="http://m.nownews.com/news/channel/{{ channelId }}">
<meta property="og:title" content="{{ channelName }} | NOWnews今日新聞">
<meta property="og:description" content="">
<meta property="og:image" content="/static/img/mobile-logo-dark.png">

<!-- for Google plus use -->
<meta itemprop="url" content="http://m.nownews.com/news/channel/{{ channelId }}">
<meta itemprop="name" content="{{ channelName }} | NOWnews今日新聞">
<meta itemprop="description" content="">
<meta itemprop="image" content="/static/img/mobile-logo-dark.png">
<meta itemprop="keywords" content="">
<meta itemprop="articleSection" content="">
<meta itemprop="dateCreated" content="">
<meta itemprop="dateModified" content="">
<meta itemprop="datePublished" content="">
<link rel="canonical" href="http://m.nownews.com/news/channel/{{ channelId }}">
