{# 組成 JSON_LD 資料 #}

{# 新聞用 JSON-LD #}
{% if news and news.jsonld %}
    <script type="application/ld+json">
    {
        "@context": "{{ news.jsonld.context }}",
        "@type": "{{ news.jsonld.type }}",
        "datePublished": "{{ news.jsonld.datePublished }}",
        "dateModified": "{{ news.jsonld.dateModified }}",
        "mainEntityOfPage": {
            "@type": "{{ news.jsonld.mainEntityOfPage.type }}",
            "@id": "{{ news.jsonld.mainEntityOfPage.id }}"
        },
        "articleBody": "{{ news.jsonld.articleBody }}",
        "headline": "{{ news.jsonld.headline }}",
        "image": {
            "@type": "{{ news.jsonld.image.type }}",
            "url": "{{ news.jsonld.image.url }}",
            "width": "{{ news.jsonld.image.width }}",
            "height": "{{ news.jsonld.image.height }}"
        },
        "author": {
            "@type": "{{ news.jsonld.author.type }}",
            "name": "{{ news.jsonld.author.name }}"
        },
        "publisher": {
            "@type": "{{ news.jsonld.publisher.type }}",
            "name": "{{ news.jsonld.publisher.name }}",
            "logo": {
                "@type": "{{ news.jsonld.publisher.logo.type }}",
                "url": "{{ news.jsonld.publisher.logo.url }}",
                "width": "{{ news.jsonld.publisher.logo.width }}",
                "height": "{{ news.jsonld.publisher.logo.height }}"
            }
        },
        "description": "{{ news.jsonld.description }}"
    }
    </script>
{% endif %}

{# 圖輯用 JSON-LD #}
{% if photo and photo.jsonld %}
    <script type="application/ld+json">
    {
        "@context": "{{ photo.jsonld.context }}",
        "@type": "{{ photo.jsonld.type }}",
        "datePublished": "{{ photo.jsonld.datePublished }}",
        "dateModified": "{{ photo.jsonld.dateModified }}",
        "mainEntityOfPage": {
            "@type": "{{ photo.jsonld.mainEntityOfPage.type }}",
            "@id": "{{ photo.jsonld.mainEntityOfPage.id }}"
        },
        "articleBody": "{{ photo.jsonld.articleBody }}",
        "headline": "{{ photo.jsonld.headline }}",
        "image": {
            "@type": "{{ photo.jsonld.image.type }}",
            "url": "{{ photo.jsonld.image.url }}",
            "width": "{{ photo.jsonld.image.width }}",
            "height": "{{ photo.jsonld.image.height }}"
        },
        "author": {
            "@type": "{{ photo.jsonld.author.type }}",
            "name": "{{ photo.jsonld.author.name }}"
        },
        "publisher": {
            "@type": "{{ photo.jsonld.publisher.type }}",
            "name": "{{ photo.jsonld.publisher.name }}",
            "logo": {
                "@type": "{{ photo.jsonld.publisher.logo.type }}",
                "url": "{{ photo.jsonld.publisher.logo.url }}",
                "width": "{{ photo.jsonld.publisher.logo.width }}",
                "height": "{{ photo.jsonld.publisher.logo.height }}"
            }
        },
        "description": "{{ photo.jsonld.description }}"
    }
    </script>
{% endif %}

{# 影音用 JSON-LD #}
{% if video and video.jsonld %}
    <script type="application/ld+json">
    {
        "@context": "{{ video.jsonld.context }}",
        "@type": "{{ video.jsonld.type }}",
        "datePublished": "{{ video.jsonld.datePublished }}",
        "dateModified": "{{ video.jsonld.dateModified }}",
        "mainEntityOfPage": {
            "@type": "{{ video.jsonld.mainEntityOfPage.type }}",
            "@id": "{{ video.jsonld.mainEntityOfPage.id }}"
        },
        "articleBody": "{{ video.jsonld.articleBody }}",
        "headline": "{{ video.jsonld.headline }}",
        "image": {
            "@type": "{{ video.jsonld.image.type }}",
            "url": "{{ video.jsonld.image.url }}",
            "width": "{{ video.jsonld.image.width }}",
            "height": "{{ video.jsonld.image.height }}"
        },
        "author": {
            "@type": "{{ video.jsonld.author.type }}",
            "name": "{{ video.jsonld.author.name }}"
        },
        "publisher": {
            "@type": "{{ video.jsonld.publisher.type }}",
            "name": "{{ video.jsonld.publisher.name }}",
            "logo": {
                "@type": "{{ video.jsonld.publisher.logo.type }}",
                "url": "{{ video.jsonld.publisher.logo.url }}",
                "width": "{{ video.jsonld.publisher.logo.width }}",
                "height": "{{ video.jsonld.publisher.logo.height }}"
            }
        },
        "description": "{{ video.jsonld.description }}"
    }
    </script>
{% endif %}