{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-category-photo.html" %}
{% endblock %}

{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <nav id="photo-category-nav" class="category-select mui-container-fluid">
            {% set categoryType = 'photo' %}
            {% include "../blocks/category-nav.html" %}
        </nav>
        <div class="nownews-wrapper" {% if taxId %}id="list-wrapper"{% endif %}>
            {% for photo in photoList %}
                <div class="mui-container-fluid">
                    <div class="mui-row photo-block">
                        <div class="shadow-photo">
                            <a href="/photo/{{photo.nodeId}}">
                                <div class="shadow-photo-info">
                                    <p class="info-title">{{ photo.title }}</p>
                                </div>
                                <img class="photo-main-image" src="{{ photo.thumbnail }}" />
                            </a>
                        </div>
                    </div>
                </div>

                {# 廣告版位 #}
                {#
                    {% if loop.index % 3 == 0 %}
                        {% set noSliderNumber = loop.index %}
                        {% include "../ad/ad-photo-block.html" %}
                    {% endif %}
                #}
            {% endfor %}
        </div>
    </div>
{% endblock %}
