<table id="news-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>名稱</th>
            <th>連結</th>
            <th>狀態</th>
            <th>層級</th>
            <th>權重</th>
            <th>建立日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
        {% for value in menus %}
            <tr>
                <td>
                    <a href="#">
                        {{ value.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ value.url }}" target="_blank">
                        {{ value.url }}
                    </a>
                </td>
                <td>
                    {{ value.status }}
                </td>
                <td>{{ value.level }}</td>
                <td>{{ value.weight }}</td>
                <td>{{ value.formatCreatedAt }}</td>
                <td>
                    <a class="btn btn-info"
                        href="/menu/{{value._id}}">
                        編輯
                    </a>
                </td>
                <td>
                    <button item-id="{{value._id}}" class="btn btn-danger delete-menu">移除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>名稱</th>
            <th>連結</th>
            <th>狀態</th>
            <th>層級</th>
            <th>權重</th>
            <th>建立日期</th>
            <th>編輯</th>
            <th>移除</th>
        </tr>
    </tfoot>
</table>
<script>
</script>
