{% set title = "編輯選單" %}
{% extends "../base.html" %}
{% from "../util/form-user-record.html" import formUserRecord %}

{% block headTitle %}
    <title>大編輯台 | {{ title }}</title>
{% endblock %}

{% block container %}
<section class="content">
    <form action="/menu/{{ menu.id }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">選單設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="checkbox">
                            <label>
                                {% if menu.isExternal %}
                                    <input name="isExternal" type="checkbox" checked class="checkbox_link"> 外部連結
                                {% else %}
                                    <input name="isExternal" type="checkbox"  class="checkbox_link"> 外部連結
                                {% endif %}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {% if menu.isAdult %}
                                    <input name="isAdult" type="checkbox" checked> 是否為成人
                                {% else %}
                                    <input name="isAdult" type="checkbox" > 是否為成人
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group linkBox">
                            {% if menu.isExternal %}
                            <label for="shortTitle" class="control-label categoryLink">外部連結</label>
                            <div class="input-group col-sm-10">
                                <span class="input-group-addon" style="display: none;">/cat/</span>
                                <input type="text" name="url" value="{{ menu.url }}" class="form-control" placeholder="範例  https://m.nownews.com" required>
                            </div>

                            {% else %}
                            <label for="shortTitle" class="control-label categoryLink">頻道連結</label>
                            <div class="input-group">
                                <span class="input-group-addon">/cat/</span>
                                <input type="text" name="categoryName" value="{{ menu.categoryName }}" class="form-control" placeholder="範例  sport" required>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="title" class="control-label">選單名稱</label>
                            <input type="text" id="categoryname" maxlength="6"  name="name" value="{{ menu.name }}" class="form-control" placeholder="選單名稱" required>
                        </div>
                    </div>
                </div>
                {# 版型 #}
                {% set data = menu %}
                {% include "../util/edit.template.html" %}
                <span class="control">
                    Note: 如果為<label class='label label-info'>特輯版型</label>，記得建立完畢到<a href='/column/specialchannel' target="_blank">專欄（特輯版型）</a>管理
                </span>
            </div>
        </div>
        {# 第一版先隱藏起來
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">層數設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="checkbox">
                            <label>
                                {% if menu.hasChild %}
                                    <input name="hasChild" type="checkbox" disabled checked> 是否有子層
                                {% else %}
                                    <input name="hasChild" type="checkbox" disabled> 是否有子層
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="parentId" class="control-label">父層的ID</label>
                            <input id="parentId" type="text" value="{{ menu.ParentId }}" name="ParentId" class="form-control" placeholder="" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="level" class="control-label">哪一個層級</label>
                            <input id="level" type="text" value="{{ menu.level }}" name="level" class="form-control" placeholder="" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        #}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">狀態設定</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {% if menu.status == 'OPEN' %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" id="status1" value="OPEN" checked> 開啟
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" id="status2" value="CLOSE"> 關閉
                                    </label>
                                </div>
                            {% else %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" id="status1" value="OPEN"> 開啟
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="status" id="status2" value="CLOSE" checked> 關閉
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">建立資訊</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {{ formUserRecord(menu) }}
            </div>
        </div>
        <div class="edit-footer text-center">
            <button type="submit" class="btn bg-olive btn-flat margin">儲存</button>
            <button type="reset" class="btn bg-maroon btn-flat margin">取消</button>
        </div>
    </form>
</section>

{#  script 暫時放這   #}
<!-- CK Editor -->
<script src="/static/js/ckeditor/ckeditor.js"></script>

<script>
    //給不同input 做 頻道建立 或者是外部連結建立使用
    $('.checkbox_link').on('click', function() {
        var checkLinkSelected = $('.checkbox_link').is(':checked');
        if (!checkLinkSelected) {
            $('.linkBox').find('input').attr({
                placeholder: "範例  頻道名稱 sport",
                name: "categoryName"
            });

            $('.linkBox').find(".categoryLink").text('頻道連結');
            $('.linkBox').find(".input-group-addon").css('display','table-cell');
        }
        else {
            $('.linkBox').find('input').attr({
                placeholder: "範例  https://m.nownews.com",
                name: "url"
            });
            $('.linkBox').find(".categoryLink").text('外部連結');
            $('.linkBox').find('.input-group').addClass('col-sm-10');
            $('.linkBox').find(".input-group-addon").css('display','none');
        }
    });
    $(function () {
        $('#menuTimepicker').daterangepicker({
            "startDate": new Date(),
            "locale": {
                format: 'YYYY-MM-DD'
            }
        });
    });
</script>

{% endblock %}
