.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.icheckbox_square-red, .iradio_square-red {
    top: -2px;
}

/* 為了解 符號選擇器被遮罩蓋住的bug
  CKeditor 彈出 符號選擇器之後 在 Safari 有時候 z-index數值會調成是 5020（正常狀況10010) 導致選擇器被遮罩蓋過去
  以下為在符號選擇器的父元素 div.cke_editor_contentCk_dialog 加上 z-index 強制所有子元素都z-index: 10010
*/
div.cke_editor_contentCk_dialog{
    position: relative;
    z-index: 10010;
}

.dailyplan-content{
    width: 50%;
}
td.dailyplan-content textarea{
    width: 100%;
    border: 0;
}


.main-photo-desc-textarea{
    width:100%;
    border: 1px solid black;

}
.mainPhotoWrapper{
    width: 100%;
    margin-bottom:10px;
}
.mainPhotoEle{
    display: inline-block;
}

div.close-circle{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    border: 2px solid;
    border-radius: 25px;

}