/*header*/
* {
    font-family: Helvetica, Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

.text-gray {
    color: #888;
    font-size: 12px;
}

.info-title{
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-caption {
    font-size: 13px;
}

/*category*/

.category-select {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #000;
    overflow: hidden;
    height: 48px;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}
.category-select > ul {
    width: 100%;
    list-style: none;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    overflow: scroll;
    padding: 0 80px;
}

.category-select > div {
    background: url(/static/img/category-gradient-black.png);
    position: absolute;
    height: 48px;
    max-width: 20%;
    min-width: 20%;
    z-index: 1;
}

@media (min-width: 500px){
    .category-select > div {
        max-width: 15%;
        min-width: 15%;
    }
}

@media (min-width: 700px){
    .category-select > div {
        max-width: 10%;
        min-width: 10%;
    }
}

@media (min-width: 900px){
    .category-select > div {
        max-width: 7%;
        min-width: 7%;
    }
}
.category-select > .right-cover {
    right: 0;
}

.category-select > ul > li {
    display: inline-block;

}

.category-select li a {
    color: white;
    display: block;
    padding: 10px 10px;
    font-size: 20px;
}

.category-select li.isActive > a, .category-select li > a:hover{
    color: #00FFFE;
}

#photo-category-nav {
    background: #001971;
}

#photo-category-nav.category-select > div {
    background: url(/static/img/category-gradient-blue.png);
}

#video-category-nav {
    background: #420073;
}

#video-category-nav.category-select > div {
    background: url(/static/img/category-gradient-purple.png);
}

/* channel Nav */

#channel-nav-block {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

#channel-nav-block > .mui-panel {
    background: #D09D22;
    color: white;
    font-size: 18px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 10px;
}

#channel-nav-block .channel-name {
    margin-right: 10px;
}

#channel-nav {
    display: none;
    width: 100%;
    min-height: calc(100% - 102px);
    max-height: calc(100% - 102px);
    overflow: scroll;
}

#channel-nav a {
    color: black;
    text-decoration: none;
}

#channel-nav a.is-active {
    font-weight: bold;
    color: #D09D22;
}

#channel-nav a:nth-child(2n) div {
    border-left: 1px dashed #000;
}

#channel-nav div {
    float: left;
    line-height: 45px;
    height: 45px;
    padding-left: 10%;
    width: 50%;
    border-bottom: 1px dashed #000;
}

/* When channel nav is open */
#channel-nav-block.is-open {
    height: 100%;
}

#channel-nav-block.is-open #channel-nav{
    display: block;
}

/*content*/
.content-box {}

/**
 * Body CSS
 */

html, body {
    height: 100%;
}
html, body, input, textarea, buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Header CSS
 */

header.mui-appbar {
    background-color: #232323;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
header ul.mui-list--inline {
    margin-bottom: 0;
}
header a {
    color: white;
}
header a:hover {
    color: white;
}
header .header-btn > img {
    max-width: 25px;
}

header .mobile-logo {
    height: 23px;
}

/**
 * MenuNav Bar CSS
 */
#menu-nav-wrapper {
    background-image: url(/static/img/burglist-bg90.png);
    background-repeat: repeat;
    margin-top: -1px;
    max-height: calc(100% - 56px);
    min-height: calc(100% - 56px);
    min-width: 100%;
    overflow: scroll;
    padding: 0;
    position: fixed;
    z-index: 9999;
}

@media (orientation: landscape) and (max-height: 480px) {
    #menu-nav-wrapper {
        max-height: calc(100% - 48px);
        min-height: calc(100% - 48px);
    }
}

@media (min-width: 480px) {
    #menu-nav-wrapper {
        max-height: calc(100% - 64px);
        min-height: calc(100% - 64px);
    }
}
#menu-nav-wrapper > .menu-nav-item {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    border-bottom: 1px solid #5F5D5F;
}

#menu-nav-wrapper > .menu-nav-item a {
    display: block;
    width: 100%;
    height: 100%;
}

#menu-nav-wrapper a {
    height: 30px;
    color: white;
    text-decoration: none;
}

#menu-social-link .shareaholic-share-buttons-wrapper {
    width: 100%;
    padding: 3%;
}

#menu-social-link .shareaholic-share-buttons-wrapper .shareaholic-share-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 !important;
}

#menu-social-link ul li i.shareaholic-service-icon {
    width: 55px;
    height: 55px;
}

#menu-social-link ul li i.shareaholic-service-icon::before {
    top: 15px;
    left: 16px;
}

/**
 * Search Bar CSS
 */

#search-bar .mui-textfield {
    margin: 0;
    padding: 0;
}

#search-input{
    color: white;
    border-color: white;
}

#search-input:focus{
    border-color: white;
    color: white;
    height: 31px;
    margin: 0;
}

#search-input::-webkit-input-placeholder {
    border-color: white;
    color: #5D5D5D;
    font-size: 17px;
}

/**
 * photo one Bar CSS
 */

#photo-one-bar td {
    width: 100%;
    padding-top: 10px;
}

/**
 * 輪播 CSS
 */

.single-item {
    position: relative;
}

/* 豆子 CSS
 */
.single-item .slick-dots {
    bottom: initial;
    bottom: 2px;
    text-align: center;
    padding-right: 10px;
}

.single-item .slick-dots li {
    width: 5px;
}

.single-item .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}
.single-item .slick-dots li button:before {
    color: #fff;
    font-size: 12px;
}

.slick-news {
    overflow: hidden;
    position: relative;
}

.slick-news .slick-news-info {
    position: absolute;
    bottom:0;
    color:#fff;
    font-size:15px;
    height:60px;
    padding: 20px 10px;
    background: url(/static/img/slick-news-info-bg.png);
    width: 100%;
    background-size: 100% 100%;
}

.slick-news .slick-news-info .info-title {
    margin-top: -5px;
}

/* 左右箭頭 CSS
 */
.slick-photos .slick-next {
    right: 0;
    height: 46px;
    background-size: 100%;
}

.slick-photos .slick-arrow::before {
    opacity: 0;
}

.slick-photos .slick-prev {
    left: 0;
    z-index: 1;
    height: 46px;
    background-size: 100%;
}

/**
 * Content CSS
 */

#content-wrapper {
    min-height: 100%;
}


/**
 * news CSS
 */

.news-block {
    position: relative;
    margin-bottom: 53px;
}

.news-block p {
    margin: 0 0 0 5px;
}

.news-block .category-title {
    margin-top: 10px;
    color: #1976d2;
    font-size: 13px;
    font-weight: bold;
}

.news-block .line {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #dedede;
    bottom: -38px;
}
.news-block .news-info {
    position: absolute;
    line-height: 150%;
    bottom: -28px;
    color: #333;
    width: 97%;
    font-size: 15px;
    background-size: 100% 100%;
    padding: 0 10px;
    left: -2px;
}

.news-block .news-info-bg, .sponser.news-info-with-bg{
    position: absolute;
    line-height: 150%;
    bottom: -20px;
    background: url(/static/img/news-info-bg.png);
    height: 64px;
    color: #333;
    width: 97%;
    font-size: 15px;
    background-size: 100% 100%;
    padding: 0 10px;
    left: -2px;
}

.news-block .news-info .news-date {
    font-size: 12px;
    color: #999;
}

.nownews-wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 49px auto 0;
    overflow: hidden;
}

.nownews-wrapper .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slider-under {
    margin-top: 15px;
}

.news-main-image {
    max-width: 100%;
    width: 100%;
}

.mini-info p {
    margin: 0;
}

.news-one-page {
    padding: 0 15px;
}

.news-one-page .title, .news-one-page .title {
    font-size: 26px;
}

/* 麵包屑 */
.news-one-page .breadcrumb, .news-one-page .breadcrumb {
    display: none;
}

.news-body {
    margin: 15px 0;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 160%;
}

.news-body img , .news-body p, .news-body iframe, .freeBody iframe {
    max-width: 100% !important;
}

.font-link {
    border: 1px solid #000;
}

.font-size-small {
    font-size: 16px;
}

.font-size-middle {
    font-size: 20px;
}

.font-size-large {
    font-size: 24px;
}

.news-body .mui--text-dark-secondary {
    line-height: 120%;
    font-size: 12px;
}

.news-body.font-size-small .mui--text-dark-secondary {
    font-size: 12px;
}

.news-body.font-size-middle .mui--text-dark-secondary {
    font-size: 16px;
}

.news-body.font-size-large .mui--text-dark-secondary {
    font-size: 20px;
}

.arrow-block {
    margin: 20px -15px;
    overflow: hidden;
}

.arrow-block a {
    color: #000;
    display: block;
}

.arrow-block .next-arrow {
    background-image: url(/static/img/next-btn-bg.png);
    background-size: 100% 100%;
    padding-right: 28%;
}

.arrow-block .prev-arrow {
    background-image: url(/static/img/prev-btn-bg.png);
    background-size: 100% 100%;
    padding-left: 28%;
}

.arrow-block a.is-active, .arrow-block a:hover {
    font-weight: bold;
}

.related-news-block .category-title {
    margin: 0;
}

.related-news-block .one-news {
    margin-top: 15px;
    margin-bottom: 15px;
}

.related-news-block .one-news img{
    max-width: 100%;
    padding-top: 5px;
}

.related-news-block .related-news-info {
    padding-left: 0;
    color: rgba(0,0,0,.87);
}


/**
 * page freeBody2 CSS
 */
.freeBody2 ul {
    padding: 0;
    list-style-type: none;
}
.freeBody2 ul > li > a {
    coloe: #0083FF;
    padding: 5px 0;
    display: block;
}
.freeBody2 ul > li span {
    margin-left: 10px;
}

.freeBody2 ul > li img {
    max-width: 40px;
}

/**
 * page freeBody CSS
 */
.freeBody {
    margin-top: 40px;
}

/**
 * Photo CSS
 */

.photo-block .shadow-photo {
    overflow-y: hidden;
    max-height: 360px;
}

@media (max-width: 480px){
    .photo-block .shadow-photo {
        max-height: 250px;
    }
}

@media (max-width: 360px){
    .photo-block .shadow-photo {
        max-height: 213px;
    }
}

.shadow-photo {
    position: relative;
}

.shadow-photo .shadow-photo-info {
    position: absolute;
    bottom: 0;
    color: #fff;
    height: 80px;
    padding: 20px 30px;
    background: url(/static/img/slick-news-info-bg.png);
    width: 100%;
    background-size: 100% 100%;
}

.photo-info {
    color: #fff;
    font-size: 18px;
    height: 80px;
    width: 100%;
    padding: 0 30px 20px 30px;
    background-image: url(/static/img/slick-news-info-bg.png);
    background-size: 100% 100%;
}
 /*.slick-list .draggable {height:100%!important;}*/
.slick-list {
    height: auto;
}

.photo-block .info-title {
    margin-top: 20px;
}

.photo-main-image {
    width: 100%;
    max-width:100%;
}

/**
 * Video CSS
 */

.video-block {
    position: relative;
    margin-bottom: 1px;
}

.video-block p {
    margin: 0;
}

.video-block .category-title {
    margin-top: 10px;
    color: #1976d2;
    font-size: 12px;
    font-weight: bold;
}

.video-block .shadow-photo-info .info-title {
    color: white;
}
.video-block .shadow-photo-info .info-caption {
    color: white;
}

.video-block .sponser .info-caption {
    color: #888;
}

.video-block .icon-play-circle {
    position: absolute;
    width: 15%;
    z-index: 1;
    top: 40%;
    left: 40%;
}

.video-main-image {
    max-width: 100%;
    width: 100%;
    max-height: 350px;
    overflow-y: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

/* fixed share social link */
#social-link {
    padding: 0;
    position: fixed;
    bottom: 0;
}

#social-link ul {
    padding: 0;
    text-align: center;
}

#social-link li {
    list-style: none;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 25%;
}

/**
 * page category
 */
.one-category {
    padding-bottom: 10px;
    letter-spacing: 3px;
}

.one-category a {
    color: #888;
    padding: 2px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin-right: 10px;
}

.tid419883 {
    color: #e71900;
}
.tid419884 {
    color: #ff5a17;
}
.tid419885 {
    color: #ff9900;
}
.tid419886 {
    color: #ffe72e;
}
.tid419887 {
    color: #72ff5c;
}
.tid419888 {
    color: #53ffe0;
}
.tid419889 {
    color: #2ee7ff;
}
.tid419890 {
    color: #0099ff;
}
.tid419891 {
    color: #2763ff;
}
.tid419892 {
    color: #6645ff;
}
.tid419893 {
    color: #ff737d;
}
.tid419894 {
    color: #ff456e;
}
.tid419895 {
    color: #ff45d5;
}
.tid419896 {
    color: #d073ff;
}
.tid419897 {
    color: #b911f7;
}

/**
 * loading CSS
 */

#loading {
    position: fixed;
    background: url(/static/img/loading.gif);
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999999;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-align: center;
}

#loading > span {
    top: 70%;
    position: relative;
}
 /**
 * About
 */

.about-content {
    font-size: 16px;
    line-height: 180%;
}

.timeline {
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 16.5%;
    margin-left: -1.5px;

}
.timeline img{
    border-radius: 50%;
    max-width: 90%;
    position: relative;
    z-index: 1;
    border: 1px solid #aeaeae;
}

.timeline-row {
    margin-bottom: 15px;
}

/**
 * Footer CSS
 */

footer {
    height: 60px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}

.fixed-bottom {
    background: #fff;
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/**
 * ADS CSS
 */

.ads-block > div {
    margin: auto;
}

.ads-block * {
    max-width: 100%;
}

#mui-overlay {
    background-color: rgba(0,0,0,.7);
}

.ads-cover .close {
    cursor: pointer;
    max-width: 60px;
    padding: 18px;
    z-index: 1;
    right: 0;
    top: 0;
    position: absolute;
}

.ads-cover.dfp {
    display: none;
}

/**
 * NAV 滑動
 **/
.nav-up {
    top: -10px;
}
.category-select{
    transition: all 0.01s ease-in-out;
}

.slick-news {
    display: none;
}

.slick-news:first-child {
    display: block;
}
