<!-- {% set ad320x50 = "http://lorempixel.com/320/50/technics/" %} -->
{% set ad320x50 = "https://placehold.it/320x50" %}
<div class="mui--text-center ads-block fixed-bottom">
    <div>
        <script type='text/javascript'>
            googletag.cmd.push(function() {
                googletag.defineSlot('/5799246/Nownews_mobileweb_setend_320x50', [320, 50], 'div-gpt-ad-1458198588733-0').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <div id='div-gpt-ad-1458198588733-0' style='height:50px; width:320px;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-1458198588733-0');
                });
            </script>
        </div>
    </div>
</div>
