<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">
                版型(業務使用)
            </label>
            <select name="template" class="form-control">
                {% for key, type in NEWS_TEMPLATES %}
                    <option value="{{ key }}"
                        {{ "selected" if key == data.template }}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">
                版型廣告代碼(業務使用)
            </label>
            <select name="templateAD" class="form-control">
                {% for key, type in NEWS_TEMPLATES_AD %}
                    <option value="{{ key }}"
                        {{ "selected" if key == data.templateAD }}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
