<div class="content">
    <!-- Nav tabs -->
    <ul class="image-nav nav nav-tabs" role="tablist">
        <li role="presentation" class="library active">
            <a href="#library" aria-controls="library" role="tab" data-toggle="tab" data-from="INTERNAL">自家圖庫</a>
        </li>
        <li role="presentation" class="library">
            <a href="#library" aria-controls="library" role="tab" data-toggle="tab" data-from="EXTERNAL">中央社</a>
        </li>
    </ul>

    <br />
    <iframe class="hidden" id="clipboard-source"></iframe>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="library">
            <div class="row">
                <div class="form-group col-md-2">
                    <input name="imgStartedAt" type="date" />
                </div>
                <div class="form-group col-md-2">
                    <input name="imgEndedAt" type="date" />
                </div>
                <div class="form-group col-md-2">
                    <input id="imgKeywords" class="input" name="imgKeywords" type="text" placeholder="關鍵字(用逗點區隔)"/>
                </div>
                <div class="form-group col-md-1">
                    <button type="button" class="btn btn-default imageLibQueryForm">查詢</button>
                </div>
            </div>
            <div class="row image-blocks">
            </div>
            <div id="img-loading" class="text-center">
                <img src="/static/img/icon/loading.svg" alt="">
            </div>
              <div class="text-center">
                <button class="btn btn-default imgCollapse" type="button">
                    <i class='fa fa-angle-double-up'></i> 收合
                </button>

                <br />
                <input id="imgPageIndex" name="imgPageIndex" type="hidden"  value='1' />
                <button class="btn btn-link imgPrev hidden" type="button">上一頁 </button>
                第 <span class="imgPage">1</span> 頁，共 <span class="totalPage">1</span> 頁
                <button class="btn btn-link imgNext hidden" type="button"> 下一頁</button>

            </div>
        </div>
    </div>
</div>

<script id="template-crop" type="text/x-custom-template">
    <tr id="crop-row">
        <td colspan="3">
            <div>
                <img width="200" id="crop-img"/>
            </div>
            <div class="text-center">
                <button type="button" class="confirm btn btn-primary" data-blobURL>
                    <i class="fa fa-crop"></i>
                    <span>確認裁切</span>
                </button>
                <button type="button" class="cancel-crop btn btn-warning">
                    <i class="fa fa-ban"></i>
                    <span>取消裁切</span>
                </button>
            </div>
        </td>
    </tr>
</script>

<script id="template-upload" type="text/x-custom-template">
    <tr class="template-upload fade">
        <td>
            <span class="preview">
                <img class="upload-img hidden" width="80" height="40"/>
            </span>
            <p>
                <label><input type="checkbox" name="isDeliver" checked="checked" />可外送</label>
                <textarea name="desc" style="width: 100%"
                    placeholder="圖說" rows="2">（圖／ＯＯＯ攝 , 2017.xx.xx）</textarea>
            </p>
            <strong class="error text-danger"></strong>
        </td>
        <td class="hidden-xs">
            <p class="size">處理中...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            <button type="button" class="crop btn btn-default" data-blobURL=>
                <i class="fa fa-crop"></i>
                <span class="hidden-xs">裁切</span>
            </button>
            <button type="button" class="btn btn-primary start">
                <i class="fa fa-upload"></i>
                <span class="hidden-xs">上傳</span>
            </button>
            <button type="button" class="btn btn-warning cancel">
                <i class="fa fa-ban"></i>
                <span class="hidden-xs">取消</span>
            </button>
        </td>
    </tr>
</script>

<script id="template-download" type="text/x-custom-template">
    <tr class="template-download fade">
        <input name="imageId" type="hidden" />
        <td>
            <div class="preview zoom">
                <img class="image"/>
            </div>
            <span class="desc"></span>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <div>
            <small class="label label-warning canNotDeliver">
                <i class="fa fa-bin"></i>不可外送
            </small>
            </div>
            <button type="button" class="btn bg-blue setManyPhoto manyPhotoEle hide">
                <i class="fa fa-check"></i>
                <span class="hidden-xs">加入圖片</span>
            </button>
            <button type="button" class="btn bg-purple setMainPhoto mainPhotoEle">
                <i class="fa fa-check"></i>
                <span class="hidden-xs">設為主圖</span>
            </button>
            <button type="button" class="btn bg-navy copy">
                <i class="fa fa-clipboard"></i>
                <span class="hidden-xs">到剪貼簿</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="fa fa-trash"></i>
                <span class="hidden-xs">刪除</span>
            </button>
            <button type="button" class="btn btn-warning cancel hidden">
                <i class="fa fa-ban"></i>
                <span class="hidden-xs">取消</span>
            </button>
        </td>
    </tr>
</script>

<script id="template-image-block" type="text/x-custom-template">
    <div class="col-md-3 image-block">
        <input type="hidden" name="imageId"/>
        <small class="label label-warning canNotDeliver">
            <i class="fa fa-bin"></i>不可外送
        </small>
        <div class="text-right">
            <button class="btn bg-blue btn-xs fa fa-check setManyPhoto manyPhotoEle hide"
                type="button">加入圖片</button>
            <button class="btn bg-purple btn-xs fa fa-check setMainPhoto mainPhotoEle"
                type="button">設為主圖</button>
            <button class="btn bg-navy btn-xs fa fa-eye"
                type="button"></button>
            <button class="btn bg-navy btn-xs fa fa-clipboard"
                type="button"></button>
            <button class="btn btn-danger btn-xs fa fa-trash"
                type="button"></button>
        </div>
        <div class="info">
            <span></span>
        </div>
        <div class="zoom text-center">
            <img class="image" />
        </div>
        <label>
            <span class="desc hide"></span>
            <textarea name="desc" rows="3"></textarea>
            <button class="btn btn-success btn-xs fa fa-save" type="button"></button>
            <button class="btn btn-warning btn-xs fa fa-undo hidden" type="button"></button>
        </label>
    </div>
</script>


<script id="photo-group-template" type="text/x-custom-template">
    <div class="pull-left img-thumbnail photo-group manyPhotoEle" onclick="">
        <input type="hidden" name="Photos[]">
    </div>
</script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/js/file-upload/vendor/jquery.ui.widget.js"></script>

<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/static/js/file-upload/load-image.all.min.js"></script>

<!-- The basic File Upload plugin -->
<script src="/static/js/file-upload/jquery.fileupload.js"></script>

<!-- The File Upload processing plugin -->
<script src="/static/js/file-upload/jquery.fileupload-process.js"></script>

<!-- The File Upload image preview & resize plugin -->
<script src="/static/js/file-upload/jquery.fileupload-image.js"></script>

<!-- The File Upload video preview plugin -->
<script src="/static/js/file-upload/jquery.fileupload-video.js"></script>

<!-- The File Upload user interface plugin -->
<script src="/static/js/file-upload/jquery.fileupload-ui.js"></script>

<!-- The File Zoom -->
<script src="/static/js/file-upload/jquery.zoom.js"></script>

<!-- The main application script -->
<script src="/static/js/fileupload.js"></script>

<style type="text/css">
    .copy-area {
        margin-left: 15px;
    }

    .zoom, .image-preview {
        min-width: 160px;
    }

    .photo-group {
        height: 180px;
        width: 320px;
        margin: 5px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .photo-group p {
        background: rgba(255, 255, 255, 0.6);
    }

    .image  {
        height: auto;
        max-height: 180px;
        max-width: 100%;
    }

    .image-block {
        background: #d2d6de;
        border: 1px solid #fff;
        height: 285px;
        margin-bottom: 5px;
    }

    .image-block .text-right {
        padding-bottom: 3px;
    }

    .image-block small.canNotDeliver {
        position: absolute;
        top: 3px;
    }

</style>
