{% macro formUserRecord(formData) %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>建立者</label>
                <p>{{ formData.CreatedBy.name }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>建立日期</label>
                <p>{{ formData.formatCreatedAt }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>最後更新者</label>
                <p>{{ formData.UpdatedBy.name }}</p>
            </div>
        </div>
        <div class="col-md-3">
                <div class="form-group">
                <label>最後更新日期</label>
                <p>{{ formData.formatUpdatedAt }}</p>
            </div>
        </div>
    </div>
{% endmacro %}
