<!doctype html>
<html>
    <head>

        {% block headTitle %}<title>大編輯台 | 首頁</title>{% endblock %}

        {% include "./blocks/head-meta.html" %}
        {% include "./blocks/head-include.html" %}
        {% include "./blocks/trace.html" %}

    </head>

    <body class="hold-transition skin-blue sidebar-mini fixed">
        <div class="wrapper">

            {% include "./blocks/global-variable.html" %}
            {% include "./blocks/header.html" %}
            {% include "./blocks/left-aside.html" %}

            <div class="content-wrapper">
                <section class="content-header">

                    {% include "./blocks/breadcrumbs.html" %}
                </section>
                {% block container %}{% endblock %}
            </div>

            {% include "./blocks/footer.html" %}
            {% include "./blocks/right-aside.html" %}

            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>

    </body>
</html>
