{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-category-video.html" %}
{% endblock %}

{% block container %}
    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <nav id="video-category-nav" class="category-select mui-container-fluid">
            {% set categoryType = 'video' %}
            {% include "../blocks/category-nav.html" %}
        </nav>
        <div class="nownews-wrapper" {% if taxId %}id="list-wrapper"{% endif %}>
            {% for video in videoList %}
                {% include "../blocks/video-block.html" %}
                {# 廣告版位 #}
                {#
                    {% if loop.index % 3 == 0 %}
                        {% set noSliderNumber = loop.index %}
                        {% include "../ad/ad-video-block.html" %}
                    {% endif %}
                #}
            {% endfor %}
        </div>
    </div>
{% endblock %}
