{% extends "../base.html" %}

{% block socialblock %}
    {% include "../seo/head-social-one-video.html" %}
{% endblock %}

{% block container %}

    {# NOWnews Page View 偵測碼 #}
    {% include "../trace/NOWpageview.html" %}

    <article id="content-wrapper">
        <div class="mui--appbar-height"></div>

        {# 廣告版位 #}
        {% include "../ad/one/ad300x250_1.html" %}

        <div class="nownews-wrapper news-one-page">
            {# 麵包屑開始 #}
            <div class="breadcrumb">
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/"><span itemprop="title">NOWnews 今日新聞</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="/video/category/{{ video.categories[0]._id }}"><span itemprop="title">{{ video.categories[0].name or '不分類' }}</span></a>&gt;
                </span>
                <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a itemprop="url" href="{{ video.url }}"><span itemprop="title">{{ video.title }}</span></a>
                </span>
            </div>
            {# 麵包屑結束 #}

            <header>
                <h1 class="title">{{ video.title }}</h1>
                <div class="mini-info">
                    <p class="text-gray one-category">
                    {% for category in video.categories %}
                        <a href="/video/category/{{ category._id }}">{{ category.name }}</a>
                    {% endfor %}
                    </p>
                    <p class="text-gray"><i class="fa fa-clock-o fa-fw"></i>{{ video.createdAt}}</p>
                    <div class="font-size-controllers">
                        <a class="font-link font-size-large mui-btn mui-btn--flat">大</a>
                        <a class="font-link font-size-middle mui-btn mui-btn--flat">中</a>
                        <a class="font-link font-size-small mui-btn mui-btn--flat">小</a>
                    </div>
                    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25682984'></div>
                </div>
            </header>

            <section class="news-body">
                <div class="video-container" >
                    <iframe height="360" src="{{ video.src }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {{ video.body.value | safe }}
            </section>
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25683106'></div>
            <div class="arrow-block mui--appbar-line-height">
                {# 廣告版位 #}
                {% include "../ad/one/ad300x250_2.html" %}
            </div>
            {% include "./comment.html" %}
            {% include "../blocks/related-content.html" %}
            {% include "../blocks/free-body.html" %}
        </div>
    </article>

    {# 先放置頂廣告，待 11 月初的會議調整 #}
    {# 置底的 social link #}
    {#{% include "../blocks/social-link.html" %} #}
{% endblock %}
