{% extends "../base.html" %}
{% block headTitle %}<title>新編採 | 影片管理</title>{% endblock %}

{% block container %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                影片管理
                <!--<small>提供後台及各家新聞的資訊</small>-->
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>首頁</a></li>
                <li class="active">影片管理</li>
            </ol>
        </section>

        <section class="content">


        </section>
    </div>
{% endblock %}
