
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">文章設定</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label>
                內文
                <span class="text-danger">*</span>
            </label>
            <textarea id="contentCk" class="form-control" name="content" rows="5" placeholder="Enter ..."></textarea>
        </div>
        <div class="form-group">
            <label>關鍵字 (最多七個)</label>
            <textarea name="tags" id="keywords"></textarea>
            <p class="help-block text-right">( 請用 Enter 或逗號加入關鍵字 ... )</p>
            <p> Google 推薦關鍵字:</p>
            <div id="suggest-box"></div>
        </div>
        <div class="form-group">
            <label for="location" class="control-label">
                地區設定
                <span class="text-danger">*</span>
            </label>
            <input name="location" id="location" class="input form-control" placeholder="例如: 台北市內湖區" required/>
        </div>
        <script>
            $(function(){
                $.get( "/trend/google")
                    .success(function(data){
                        var suggestElement = '';
                        data.google.map(function(value){
                            suggestElement = suggestElement + '<a class="suggest-btn btn btn-info">' + value.keyword + '</a>'
                        });
                        $('#suggest-box').html(suggestElement);
                    })
                $('#suggest-box').on('click', '.suggest-btn', function(e, a){
                    $('#keywords').tagEditor('addTag', $(e.currentTarget).text());
                });
            });
        </script>
    </div>
</div>
