<div class="mui--text-center ads-block ads-cover dfp">
    <script>
        googletag.cmd.push(function() {
            googletag.defineSlot('/5799246/Mobile_homeinter_300x600', [
                [260, 480],
                [480, 320],
                [300, 250],
                [320, 480],
                [300, 600]
            ], 'div-gpt-ad-1473647786573-0')
            .addService(googletag.pubads())
            .setCollapseEmptyDiv(true, true);
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    <!-- /5799246/mb_cover_test -->
    <div id='div-gpt-ad-1473647786573-0'>
        <script>
            googletag.cmd.push(function() {
                googletag.display('div-gpt-ad-1473647786573-0');
            });
        </script>
    </div>
</div>
