 <div class="box publish-setting">
    <div class="box-header with-border">
        <h3 class="box-title">
            影片設定上傳區
            <span class="text-danger">*</span>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <label>
                    主影片
                    <span class="text-danger">*</span>
                </label>
                <div id="video-preview">
                    <input type="hidden" name="MainVideo" value="{{news.MainVideo._id}}" />
                    <video class="video hide" width="400" height="280" controls>
                        <source name="MainVideo" src="{{news.MainVideo.url}}" type="video/mp4" >
                    </video>
                </div>
                <div class="content">
                    <ul class="nav nav-tabs ui-sortable-handle">
                        <li class="active"><a href="#video-url" data-toggle="tab">影片網址</a></li>
                        <li class=""><a href="#video-upload" data-toggle="tab">影片上傳</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="tab-pane active" id="video-url">
                            <div class="url-form">
                                <br>
                                <label for="MainVideo">影片 URL</label>
                                <div class="input-group">
                                    <input id="MainVideo" name="urlVideo" type="text" value="http://vimeo.com/18150336" class="form-control">
                                    <div class="input-group-btn">
                                        <a class="btn btn-info">預覽影片</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <table role="presentation" class="table table-striped">
                                <tbody id="result"></tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="video-upload">
                            <br>
                            <label class="btn btn-success fileinput-button" for="fileupload-video">
                                <i class="fa fa-plus"></i>
                                <span>上傳影片檔</span>
                                <input id="fileupload-video" type="file" name="files[]" multiple class="sr-only">
                            </label>
                            <table role="presentation" class="table table-striped">
                                <tbody id="files-video"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# 模板 #}
        {# 上傳回來的結果 #}
    <script id="video-upload-template" type="text/x-custom-template">
        <tr class="template-upload fade">
            <td>
                <div class="preview text-center" style="height:250px;"></div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" name="isDeliver" checked="checked" />可外送</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>影片標題</label>
                    <input name="title" class="form-control" placeholder="影片標題" />
                </div>
                <div class="form-group">
                    <label>影片描述</label>
                    <textarea name="desc" class="form-control" placeholder="影片描述" rows="4"></textarea>
                    <input name="url" type="hidden"></textarea>
                </div>
                <strong class="error text-danger"></strong>
            </td>
            <td class="hidden-xs">
                <p class="size">處理中...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-primary start">
                    <i class="fa fa-upload"></i>
                    <span class="hidden-xs">上傳</span>
                </button>
                <button type="button" class="btn btn-warning cancel">
                    <i class="fa fa-ban"></i>
                    <span class="hidden-xs">取消</span>
                </button>
            </td>
        </tr>
    </script>

        {# 回傳回來的結果 #}
    <script id="video-result-template" type="text/x-custom-template">
        <tr class="template-download fade">
            <input name="videoId" type="hidden" />
            <td>
                <div class="preview">
                    <video width="400" controls>
                        <source src="" type="">
                    </video>
                </div>
                <span class="desc"></span>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <div style="{position: relative;}">
                    <small class="label label-warning canNotDeliver">
                        <i class="fa fa-bin"></i>不可外送
                    </small>
                </div>
                <button type="button" class="btn bg-purple setMainVideo" data-id="">
                    <i class="fa fa-check"></i>
                    <span class="hidden-xs">設為主影片</span>
                </button>
                <button type="button" class="btn btn-danger delete" data-id="">
                    <i class="fa fa-trash"></i>
                    <span class="hidden-xs">刪除</span>
                </button>
                <button type="button" class="btn btn-warning cancel hidden">
                    <i class="fa fa-ban"></i>
                    <span class="hidden-xs">取消</span>
                </button>
            </td>
        </tr>
    </script>

    {# 影片網址 #}
    <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>
    <script type="text/javascript" src="//cdn.embed.ly/player-0.0.12.min.js"></script>
    <style>
        .preview iframe {
            width: 100%;
            height: 100%;
        }
        .preview video {
            /*width: 100%;*/
            height: 100%;
        }
    </style>
    <script>
        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        $(function () {
            'use strict';

            /* 公用變數 */
            var URL = window.URL || window.webkitURL;
            var uploadVideoUrl = '/video/upload';
            var createVideoUrl = '/video';
            var removeVideoUrl = '/video/realRemove/';

            // Setting Image To MainPhoto
            function setMainPhoto (setBtn) {
                var parentElm = setBtn.parent().parent();
                $('input[name=MainVideo]').val(parentElm.find('input[name=videoId]').val());
                $('source[name=MainVideo]').attr('src', setBtn.attr('data-url'));
                // $('.image-setting-area .btn-collapse').click();
            }

            $('#files-video').on('click', '.setMainVideo', function(e){
                setMainPhoto($(this));
                console.log('setMainVideo', $(e))
            });

            /* 上傳 */
            // Initialize the jQuery File Upload widget:
            $('#fileupload-video').fileupload({
                filesContainer: $('#files-video'),
                downloadTemplateId: null,
                paramName: 'video',
                url: uploadVideoUrl,
                uploadTemplateId: null,
                destroy: function (e, data) {
                    var that = this;
                    // 自己上傳的當下可以真刪除
                    $.ajax({
                        url: removeVideoUrl + data.id,
                        type: 'DELETE',
                        success: function(result) {
                            // 再去呼叫原生 library destroy 該做的事情
                            $.blueimp.fileupload.prototype.options.destroy.call(that, e, data);
                        }
                    });
                },
                downloadTemplate: function (o) {
                    console.log('downloadTemplate', o)
                    var rows = $();
                    $.each(o.files, function (index, file) {
                        console.log(file, "L147")
                        var row = $($('#video-result-template').html());
                        row.find('.delete').attr('data-id', file._id);
                        row.find('.setMainVideo').attr('data-id', file._id);
                        row.find('.setMainVideo').attr('data-url', file.url);
                        row.find('.desc').text(file.desc);
                        row.find('source').attr({
                            'src': file.url,
                            'type': file.mimetype
                        });


                        row.find('img').attr('data-isdeliver', file.isDeliver);
                        if (file.isDeliver) {
                            row.find('.canNotDeliver').remove();
                        }

                        if (file.error) {
                            row.find('.setMainVideo').addClass('hidden');
                            row.find('.delete').addClass('hidden');
                            row.find('.cancel').removeClass('hidden');
                            row.find('.error').text(file.error);
                        }
                        rows = rows.add(row);
                    });
                    return rows;
                },
                getFilesFromResponse: function (data) {
                    console.log('getFilesFromResponse', data)
                    return [data.result];
                },
                submit: function (e, data) {
                    console.log('submit')
                    var nextRow = $(data.context).next();
                    var submitRow = $(data.context);
                    var isDeliver = submitRow.find('input[name=isDeliver]:checked').length === 1;
                    var desc = submitRow.find('textarea[name=desc]').val();

                    data.formData = {
                        title: desc,
                        desc: desc,
                        type: 'NEWS',
                        isDeliver: isDeliver,
                    };

                    if (nextRow.attr('id') === 'crop-row') {
                        nextRow.remove();
                    }
                    return true;
                },
                uploadTemplate: function (o) {
                    console.log('uploadTemplate')
                    var rows = $();
                    $.each(o.files, function (index, file) {
                        // var blobURL = URL.createObjectURL(file);
                        var row = $($('#video-upload-template').html());
                        if (file.error) {
                            row.find('.start').addClass('hidden');
                            row.find('.error').text(file.error);
                        }
                        rows = rows.add(row);
                    });
                    console.log(rows)
                    return rows;
                },

            });
        // });

        // $(function(){

            // 一般影片連結
            var player = null;
            var $urlResultElm = $('#result');
            var embed = function(url, $targetEle){

                return $.embedly.oembed(url)
                .progress(function(obj){
                    console.log(obj)
                    if (!obj.html){
                        $targetEle.html('');
                        window.alert('影片的連結有問題！');
                        return false;
                    }
                    var row = $($('#video-upload-template').html());
                    console.log(obj)
                    row.find('.preview').html(obj.html);
                    row.find('input[name=title]').val(obj.title);
                    row.find('input[name=url]').val(obj.original_url);
                    row.find('textarea[name=desc]').val(obj.description);

                    $targetEle.html(row).find('.fade').addClass('in');
                });
            };

            $urlResultElm.on('click', '.start', function(){
                var defaultTime = 10;
                var progressEle = $(this).parents('tr').find('.progress-bar');
                var data = {
                    url: $urlResultElm.find('input[name= url]').val(),
                    title: $urlResultElm.find('input[name=title]').val(),
                    desc: $urlResultElm.find('input[name=desc]').val()
                }

                $(this).attr('disabled', 'disabled');

                $.post( createVideoUrl, data)
                    .success(function(data){
                        console.log(123, data)
                        progressEle.css('width', '100%')
                        window.clearInterval(timer);

                        // 換下個步驟
                        var videoResultTemplate = $($('#video-result-template').html());

                        videoResultTemplate
                            .find('source').attr('src', 'https://www.w3schools.com/html/mov_bbb.mp4').load();


                        if(data.isDeliver) {
                            videoResultTemplate.find('.canNotDeliver').remove();
                        }


                        $urlResultElm.html(videoResultTemplate).find('.fade').addClass('in');
                    })
                    .fail(function(err){
                        console.log(456,err.responseJSON)
                    });

                // set progress time
                var timer = window.setInterval(function progressbarGo (){
                    defaultTime--;
                    var progress = 100 - defaultTime*10 + '%';
                    progressEle.css('width', progress)
                    if(defaultTime===0){
                        window.clearInterval(timer);
                        return false;
                    }
                }, 50);
            });

            $urlResultElm.on('click', '.cancel', function(){
                $urlResultElm.html('');

                // var videoResultTemplate = $($('#video-result-template').html());
                // videoResultTemplate.find('source').attr('src', 'https://www.w3schools.com/html/mov_bbb.mp4').load();

                // $urlResultElm.html(videoResultTemplate).find('.fade').addClass('in');
            }).on('click', '.delete', function(){
                var confirmed = confirm('您確定要刪除嗎？');
                if (!confirmed) { return; }

                var id = $(this).attr('data-id');
                $.ajax({
                    url: removeVideoUrl + id,
                    type: 'DELETE',
                    success: function(result) {
                        console.log(result);
                        $urlResultElm.html('');
                    }
                });
                console.log('delete', $(this).attr('data-id'))
            }).on('click', '.setMainVideo', function(){
                console.log('setMainVideo')
                var videoId = $urlResultElm.find('input[name=videoId]').val();

                $('input[name=MainPhoto]').val(videoId);
                $('source[name=MainVideo]').attr('src', 'https://www.w3schools.com/html/mov_bbb.mp4');
                $('#video-preview video').load().removeClass('hide');
                // $('.image-setting-area .btn-collapse').click();
            })


            // URL inpute
            var $url = $('#MainVideo');
            $('.url-form a').on('click', function(){
                embed($url.val(), $urlResultElm);
                return false;
            });

        });
        $.embedly.defaults.key = '3ee528c9eb4b4908b268ce1ace120c92';
    </script>
</div>
