 <div class="box publish-setting">
    <div class="box-header with-border">
        <h3 class="box-title">
            影片設定上傳區
            <span class="text-danger">*</span>
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="url-form">
                    <label for="MainVideo">影片 URL</label>
                    <div class="input-group ">
                        <input id="MainVideo" name="MainVideo" type="text" value="http://vimeo.com/18150336" class="form-control">
                        <div class="input-group-btn">
                            <a class="btn btn-info">預覽影片</a>
                        </div>
                    </div>
                </div>
                <br>
                <div id="result" class="img-responsive"></div>
            </div>
        </div>
    </div>
    <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>
    <script type="text/javascript" src="//cdn.embed.ly/player-0.0.12.min.js"></script>

    <script>
        $(function(){

            // 一般影片連結
            var player = null;
            var embed = function(url){

                return $.embedly.oembed(url, {query: {scheme: 'http', maxwidth: '600'}})
                .progress(function(obj){

                    if (!obj.html){
                        $('#result').html('');
                        window.alert('影片的連結有問題！');
                        return false;
                    }

                    $('#result').html(obj.html);
                });
            };

            // URL inpute
            var $url = $('#MainVideo');
            $('.url-form a').on('click', function(){
                embed($url.val());
                return false;
            });

        });
        $.embedly.defaults.key = '3ee528c9eb4b4908b268ce1ace120c92';
    </script>
</div>
